[2018-05-17 12:54] jtktam opened #1 "abac with roles"
Hi,

I want to use the abac part of jcasbin to secure my restful endpoints.

I want to be able to define groups and write a matcher that will combine group permissions and user permissions

[code]

[code]

is this correct syntax?

thanks!

[2018-05-17 13:55] hsluoyz commented on #1
For me, it is OK. Please try this configuration and see if the result is correct.

[2018-05-18 10:49] jtktam commented on #1
**String expString = ((Assertion)((Map)this.model.model.get("m")).get("m")).value;**

(g(r_sub, p_sub) || r_sub == r_obj.owner) && keyMatch(r_obj, p_obj) && regexMatch(r_act, p_act)

**Expression expression = AviatorEvaluator.compile(expString);**

expression
 var_0
  name = "r_sub"
 var_1
  name = "p_sub"
 var_2
  name = "r_obj.owner"
 var_3
  name = "r_obj"
 var_4
  name = "p_obj"
 var_5
  name

[2018-05-18 16:49] jtktam commented on #1
that was the part that was missing.. thanks for the help!

[2018-05-18 16:49] #1 closed

[2018-08-02 09:32] SollyTaylor opened #2 "[feature request] 需要添加针对MySQL的Policy持久化的适配器扩展"
目前项目需求想直接使用casbin做权限策略管理，但是文件配置目前还不能完全适应具体到某个数据级别的权限控制，因而期望添加权限控制模块

[2018-08-03 08:08] hsluoyz commented on #2
已经添加JDBC Adapter支持：https://github.com/jcasbin/jdbc-adapter，欢迎测试

[2018-08-03 08:08] #2 closed

[2018-09-19 14:54] flyer5200 opened #3 "I have multiple request resource objects, how to write the corresponding matcher matching rules?"

[2018-09-20 05:14] hsluoyz commented on #3
You just need to identify your objects with ID. So all different types of objects will be the same.

Or you can add a ``obj_type`` element to your policy rule to represent the type of the object. It's up to you.

[2018-09-20 05:14] #3 closed

[2018-10-28 13:31] chinleo opened #5 "Is it good that the code throws java.lang.Error in Java ?"

[2018-10-28 13:34] hsluoyz commented on #5
It's not a good practice. We will fix it these days. You are also welcome to propose PR for us :)

[2018-12-12 12:30] Steinliiippp opened #6 "[Need help] How to secure a Rest api?"
I want to secure a REST-Api with jcasbin. But i dont get the right place to start.

Is this the right practice?

URL: ``/api/v1/user/10``

[code]

config-file:

[code]

I'm asking this because of:

I can not set policys in advance, because i dont know all users
I can not set policiys in advance, because i dont know the id of the resource
I can not set policiys in advance, because i dont know the A

[2019-01-22 10:30] M-Razavi opened #9 "How to Define ABAC roles"
Hi
I want to use ABAC authorization for one of my application but I don't how to define roles and policies.
Let me describe the scenario:
1-**Subject:** There roles(Operator, Manager, Reviewer) and each User has a Branch.
2- **Resource:** There are several Object (Order, Document,..), and each Object has a Branch.
3- **Actions:** There are some actions such as Create, Edit, View, Confirm, Reject.

[2019-01-22 12:41] hsluoyz commented on #9
Hi @M-Razavi ,

[code]

[code]

[code]

Don't know what it means.

[code]

Similar as above.

[code]

Finally, you can connect the above assertions with ``||`` and use it in a matcher.

[2019-01-22 13:16] M-Razavi commented on #9
4- A user with user name 'XYZ'  has 2 branch ( xyz.branches = [Location1,Location2] )

Is it possible to have multiple roles for a user?

How can I define time sheet for some of the users in policy?

[2019-01-22 13:24] hsluoyz commented on #9
I mean it's not access control, there's no asking for permission. That user of course can have 2 branches or more. It all depends on you. What do you expect Casbin to do for this?

Yes, of course. That's what RBAC does.

Casbin doesn't have a concept called time sheet or any other time-related built-in functionality. You have to define it yourself as a custom function. Any field in Casbin is strin

[2019-01-22 13:33] M-Razavi commented on #9
I defined the matcher as below but got an error

[code]

[2019-01-22 13:56] hsluoyz commented on #9
``in`` operator is only supported by Golang' Casbin, see last paragraph of this: https://github.com/casbin/casbin#how-it-works. This is because jCasbin's evaluator: https://github.com/killme2008/aviator doesn't support ``in``. You have to define a custom function as a workaround:

[code]

[2019-01-23 06:04] M-Razavi opened #10 "How to define new matcher function?"
I've written a function but now how should add it to function map?

[code]

[code]

[2019-01-23 06:11] hsluoyz commented on #10
What you did now is correct, just call ``Enforcer.addFunction()``: https://github.com/casbin/jcasbin/blob/e621f7364e0169a4923fc412cbde5d629f222a3d/src/main/java/org/casbin/jcasbin/main/ManagementEnforcer.java#L553

[2019-01-23 06:38] M-Razavi commented on #10
I've used enforcer.addFunction() but got an error:
_com.googlecode.aviator.exception.ExpressionSyntaxErrorException: Syntax error:Unexpect token 'isIn' at 32, current token: [type='variable',lexeme='isIn',index=32]. Parsing expression: `r_act == "View" && r_obj.branch isIn^^`_

[2019-01-23 06:38] M-Razavi commented on #10
_com.googlecode.aviator.exception.ExpressionSyntaxErrorException: Syntax error:Unexpect token 'isIn' at 32, current token: [type='variable',lexeme='isIn',index=32]. Parsing expression: `r_act == "View" && r_obj.branch isIn^^`_

[2019-01-23 06:45] hsluoyz commented on #10
Can you paste all your code here? including Enforcer setup, enforce() call, model text, policy text.

[2019-01-23 06:50] M-Razavi commented on #10
This is set up and call :
[code]
And this is model:
[code]
Policy file is empty.

[2019-01-23 06:52] M-Razavi commented on #10
Time function:
[code]

and isIn function
[code]

[2019-01-23 06:55] hsluoyz commented on #10
Your matcher is not correct. From your function's code, it has three arguments: ``AviatorObject arg1, AviatorObject arg2, AviatorObject arg3``. BTW, I didn't see you are using the 2nd arg.

So your matcher should be: ``isIn(arg1, arg2, arg3)`` instead of ``r.obj.branch isIn(r.sub.branch)``.

[2019-01-23 06:59] M-Razavi commented on #10
@hsluoyz Many Thanks

[2019-01-23 08:35] M-Razavi commented on #10
I got this error:
_Could not find variable r_obj.branch_
How should I set the filed of request variable ?

[2019-01-23 13:48] hsluoyz commented on #10
What does that PR mean? I'm not a Java expert and didn't quite understand it.

[2019-01-23 19:20] M-Razavi commented on #10
It seems that recent commit merged in Aviator and it needed to use the latest version of it in JCasbin dependency.

[2019-01-24 01:11] hsluoyz commented on #10
@M-Razavi Aviator needs to release a new version before jCasbin can import it. You can ask its author to release one and I will release a new version jCasbin based on it.

[2019-01-26 08:46] #9 closed

[2019-01-26 08:50] M-Razavi opened #12 "Save model in Databse"
Is it possible to save whole model in databse. (Currently the Adaptor implementations (File & JDBC) only save g,p section of model into database.)

[2019-01-26 08:50] #10 closed

[2019-01-26 08:55] hsluoyz commented on #12
The model can be loaded from file, API or a static string: https://casbin.org/docs/en/model-storage , we didn't provide a storing to DB mechanism like adapter for model. But it's always easy to store it by yourself as a single string.

If the model is not often changed and you don't want to have files, my advice is to store it as a Java string in the source code.

[2019-01-26 09:06] M-Razavi commented on #12
The relation between Roles and their Permission sometimes change so the matcher section of the model should be changed.
Saving in a simple string is not a proper way for complicated matcher like below and I prefer to have a better structure for that.

`m = (r.act == "view" &&  isIn(r.obj.branchId, r.sub.branchIds)) || (hasRole("manager",r.sub.roles) && r.act == "view") ||  isValidTimeForUser(r.sub

[2019-01-26 09:10] hsluoyz commented on #12
Then you should use the API way: https://casbin.org/docs/en/model-storage#load-model-from-code

[code]

But you still can only use matcher as a whole string via Casbin's API. You may need to write custom code to operate on the matcher string before feeding it to Casbin.

[2019-01-26 09:43] #12 closed

[2019-01-26 13:42] hsluoyz commented on #6
Hi @Steinliiippp , sorry to respond so late, you could first go through our tutorials a bit here: https://casbin.org/docs/en/tutorials, especially the HTTP & RESTful tutorial. Then you should know how to define your ``sub, obj, act``.

[2019-02-05 12:12] hsluoyz commented on #6
Closed as stale.

[2019-02-05 12:12] #6 closed

[2019-03-05 14:32] ondesPositives opened #13 "ABAC roles"
Hi.
I want to use the abac part of jcasbin. The problem is that I couldn't find where to define the attributes variables , example ``(r_obj.owner,  r.sub.branch)``.

For this example that already exists:

[code]

[code]

Would you please help me!
Thanks

[2019-03-13 23:46] hsluoyz commented on #13
@ondesPositives see: https://casbin.org/docs/en/abac

[2019-03-20 03:42] namedHK opened #14 "could enforcer support a List or Array"
now enforcer only can put object...,Can it be parsed into an array than put in enforcer

[2019-03-21 02:04] hsluoyz commented on #14
@namedHK ,

jCasbin uses [aviator](https://github.com/killme2008/aviator) as the matcher's expression parser. So all supported Aviator elements will also be available in jCasbin. AFAIK, Aviator supports to have array or list in the expression. But what operation will you need? get element (a[10]) or tell if an element is in the array? (if v in a)?

Here's Aviator's documentation: https://github.co

[2019-03-25 10:17] ondesPositives commented on #13
Thank you for you answer, but still have some issues. I would like to ask if there is an application that uses jcasbin for abac? It will may be help to better understand.

[2019-03-25 11:07] hsluoyz commented on #13
Closed as solved.

[2019-03-25 11:07] #13 closed

[2019-03-25 11:10] ondesPositives commented on #13
Thank you for your help

[2019-03-28 12:55] zamrokk opened #16 "delete user does not work"
if I delete a user it does not delete it but it removes him from all groups
if i can enforce , permissions remain so i can still get a positive access answer using this user

[2019-03-28 16:06] zamrokk commented on #16
this fix, removes also old permissions to a future deleted user

`/**
     * deleteUser deletes a user.
     * Returns false if the user does not exist (aka not affected).
     *
     * @param user the user.
     * @return succeeds or not.
     */
    public boolean deleteUser(String user) {
    	removeFilteredPolicy(0, user);
        return removeFilteredGroupingPolicy(0, user);
    }`

[2019-03-28 16:12] zamrokk opened #17 "transitivity not respected"
if I create a new group of resource from the base example, then Alice is not able to access to resources contains on this new group but only the group itself

[code]

if I request like this
{
	"user":"alice",
	"resource":"data3",
	"action":"read"
}

then the answer is : NO   , expected is : YES

proof :
 - alice belongs to data2_admin
 - data3 belongs to datagroup
 - permission is given READ for g

[2019-03-28 16:24] zamrokk commented on #17
Fixed by :

[code]

why it was not set by default ? :/

Well it works

[2019-03-28 16:24] #17 closed

[2019-03-29 14:18] hsluoyz commented on #17
Hi @zamrokk , your solution is not robust as you are mixing resource roles with user roles. If you happen to have a user named ``data3``, and a role named ``datagroup``. The former will inherit the latter based on your policy. The correct way is to use ``g2`` for resource roles.

[code]

See ``RBAC with resource roles`` at: https://github.com/casbin/jcasbin#examples

[2019-03-29 14:21] zamrokk commented on #17
yes correct , I understand it better now :)

thanks for the info :P

[2019-03-29 14:23] hsluoyz commented on #16
@zamrokk , yes, it's a bit weird that deleting a user doesn't delete his permissions. ``deleteUser()`` only deletes the roles for the user. You should also use ``deletePermissionsForUser()`` to delete the user's all permissions.

But currently, it's hard to change the API, because Casbin in all languages (Go, Java, Node.js, Python, PHP..) follows this semantics. We will try to improve our API refe

[2019-03-29 14:33] zamrokk commented on #16
deletePermissionsForUser   is    removeFilteredPolicy(0, user);    in the java implementation

Thank you for the answer. We now used this version for our side

[2019-03-29 14:33] #16 closed

[2019-04-02 08:03] zamrokk opened #18 "tenant feature is not working using transitivity"
Giving this model (user groups, resource groups and tenants enabled), and this policies :
[code]
when asking if alice can read data3 on domain 1, it says no. alice belongs to group data2_admin and data3 belongs to datagroup. a policy says that data2_admin can read on datagroup on domain 1 ... so ? why it does not work ?

[code]

ps : this example was working when not using tenant feature
pps : btw

[2019-04-04 07:13] zamrokk commented on #18
``
[request_definition]
r = sub, obj, act, dom

[policy_definition]
p = sub, obj, act, dom

[role_definition]
g = _, _, _
g2 = _, _, _

[policy_effect]
e = some(where (p.eft == allow))

[matchers]
m = g(r.sub, p.sub) && r.dom == p.dom && g2(r.obj, p.obj) && r.act == p.act
``

``

p, alice, data1,   read, domain1
--
p, bob, data2, write, domain1
p, data2_admin, data2, read, domain1
p, data2_admin,

[2019-04-19 12:29] zamrokk opened #25 "calling enforce with group of grants feature does not work"
Calling function com.se.datahub.main.CoreEnforcer.enforce(CoreEnforcer.java:345) with arguments : [alice, data3, read]   ends with error below :

[code]

[2019-04-19 12:30] zamrokk commented on #25
model is
[code]

[2019-04-19 12:32] zamrokk commented on #25
policies are :

[code]

[2019-04-19 14:42] hsluoyz commented on #25
@zamrokk your model matcher is wrong: ``g3(r.act == p.act)``, you should provide 2 args for g3, current is one boolean.

[2019-04-19 14:43] #25 closed

[2019-04-19 15:04] zamrokk commented on #25
You are right, it is what is happening when you do a live coding during a meeting you are the presenter XD  !

[2019-04-19 15:06] zamrokk commented on #25
@hsluoyz , btw did you had time to see this issue here with the tenants ?https://github.com/casbin/jcasbin/issues/18

[2019-04-20 01:30] hsluoyz commented on #25
I will take a look now.

[2019-04-20 02:28] hsluoyz commented on #18
Hi @zamrokk , your matcher's ``g`` and ``g2`` function should have domain as the 3rd argument, as you define them as ``_, _, _``

[code]

[2019-04-20 02:28] #18 closed

[2019-04-27 02:55] hsluoyz commented on #14
Closed as stale.

[2019-04-27 02:55] #14 closed

[2019-05-07 12:45] lizhonghao22 opened #27 "Help: java.io.FileNotFoundException"
mEnforcer = new Enforcer("excomple/permission_model.conf", "excomple/permission_policy.csv");
Error:
java.io.FileNotFoundException: \excomple\permission_model.conf (系统找不到指定的路径。)

[2019-05-07 12:46] hsluoyz commented on #27
@lizhonghao22 please modify the title and question text into English.

[2019-05-07 13:34] #27 closed

[2019-05-10 16:19] hsluoyz commented on #5
Hi @fangzhengjin , can you fix this one?

[2019-05-13 09:39] fangzhengjin commented on #5
I will try to fix it, but it may affect some test cases, so the test case must be processed with try catch.

[2019-06-12 04:33] DaiZZZZZ opened #30 "is there a thread safe problem?"
call **Enforcer::loadPolicy()** and **Enforcer::enforce()** concurrently may lead to wrong result

[2019-06-13 08:36] hsluoyz commented on #30
Hi @DaiZZZZZ ,

Yes. Those functions are NOT thread-safe. As you can see in Golang Casbin, we have defined the synced version enforcer: https://github.com/casbin/casbin/blob/ccd536f4ce692763de9459f1cfb8889bf4df16cd/enforcer_synced.go#L102-L107

If we want to add synced version enforcer to jCasbin, which synchronization mechanism do you prefer in Java to implement it?

[2019-06-13 15:29] #5 closed

[2019-06-13 15:31] hsluoyz commented on #5
Hi @chinleo , this issue has been fixed in: https://github.com/casbin/jcasbin/pull/31

[2019-06-13 15:34] hsluoyz commented on #30
Hi @fangzhengjin , can you help solve this issue?

[2019-06-17 01:39] DaiZZZZZ commented on #30
ReadWriteLock is ok

[2019-06-17 14:39] DemianTinkiel opened #33 "suggestion: allow to query enforcer for number of expected parameters for enforce call"
Given the different styles of supported models and the fact that the data source might be unknown/out of our control it would be useful to be able to determine the number of parameters required for a call to `enforcer#enforce(...)#.

Or at least fail with something better than `Method threw 'java.lang.ArrayIndexOutOfBoundsException' exception.`

e.g.

[code]
would thrown an exception for

[code]
b

[2019-06-17 16:26] hsluoyz commented on #33
Hi @DemianTinkiel , you can call ``getPolicy()`` to get all the policy rules, then check the length of one rule like ``p, admin, domain1, data1, read``. ``length - 1`` will be the number of parameters in ``enforce()`` (the first ``p`` removed).

https://github.com/casbin/jcasbin/blob/7db9d32e2cbf3553a8bbb331b5f94a98830d2327/src/test/java/org/casbin/jcasbin/main/EnforcerUnitTest.java#L214-L220

Of

[2019-06-17 16:35] DemianTinkiel commented on #33
I see. Sure I'll submit a pr tomorrow (dev laptop currently unavailable).

However in the case of getAllActions should we also not check policy and shift answer accordingly?

[2019-06-18 08:42] DemianTinkiel commented on #33
@hsluoyz  I'm creating the PR now but looking at `org.casbin.jcasbin.model.Policy#getPolicy` I wonder if is best not to check against model instead of policy. My reasoning is that you can just load the model as in `org.casbin.jcasbin.main.EnforcerUnitTest#testRoleLinks` and you should be able to do the check anyway. What do you think?

[2019-06-18 08:47] hsluoyz commented on #33
I didn't quite get your idea. Can be be more specific?

[2019-06-18 08:48] #30 closed

[2019-06-18 08:50] hsluoyz commented on #30
Hi @DaiZZZZZ , this issue has been fixed in: https://github.com/casbin/jcasbin/pull/32 . Please use ``SyncedEnforcer`` instead.

[2019-06-18 08:51] DemianTinkiel commented on #33
lets say I do
[code]
then `getPolicy().size=0` instead I should do something like
`
[code]

[2019-06-18 09:58] DemianTinkiel commented on #33
@hsluoyz  I submitted a PR perhaps that would make it more clear as to what I mean.

[2019-06-18 11:11] DemianTinkiel opened #35 "Question: Is there a way to persist policy and model?"
Use case is that I have a program that takes a model and a policy path and to test it I'd like to be able to do something like

[code]

[2019-06-18 11:13] DaiZZZZZ commented on #30
ok, thx

[2019-06-18 11:37] hsluoyz commented on #35
Hi @DemianTinkiel , model can be loaded in 3 ways: https://casbin.org/docs/en/model-storage. But Casbin doesn't provide a way to save it to somewhere. But It's very easy for you to write a util function to do that by accessing the ``Model`` object.

The policy can be saved or loaded with adapters. I don't know what's ``policyURI``. But you need to implement an adapter to support your URI.

[2019-06-18 11:44] hsluoyz commented on #33
Yes. You can do it with ``getModel().model.get("p").get("p").tokens.length;``. It also works. I have responded to your PR.

[2019-06-18 12:55] DemianTinkiel commented on #35
Hi @hsluoyz, thanks for that. But I was thinking more in the lines of Model and Policy providing a toString method for their content. The adapters could the build on top of that?

[2019-06-18 12:56] DemianTinkiel commented on #33
what I see is that the check should be done against `request_definition` so it should be more like `getModel().model.get("r").get("r").tokens.length`

[2019-06-18 13:09] hsluoyz commented on #35
You can implement a ``toString()`` method for model.

[2019-06-18 13:14] hsluoyz commented on #33
I think you are right. You should check ``r`` instead of ``p``.

[2019-06-18 13:28] DemianTinkiel commented on #35
excellent. I'll do that + policy too

[2019-06-18 13:59] DemianTinkiel opened #36 "use slf4j"
Extracting slf4j conversation from #33

[2019-06-18 14:03] #36 closed

[2019-06-18 14:14] DemianTinkiel commented on #33
I've updated the PR #34
Note File CoreEnforcer.java has 251 lines of code (exceeds 250 allowed). Not sure what to do about that.

What is your release cycle? ie. when can I use a new version in maven that has these changes?

[2019-06-18 15:11] hsluoyz commented on #33
codeclimate is not a hard requirement. Never mind.

I will make a release right after your PRs are finished.

[2019-06-18 15:12] #33 closed

[2019-06-18 15:14] hsluoyz commented on #35
I think here will be another PR, right?

[2019-06-18 15:15] DemianTinkiel commented on #35
Yep. There will be one tomorrow morning.

[2019-06-18 15:18] hsluoyz commented on #35
BTW, you can link your Email in [this commit](https://github.com/casbin/jcasbin/commit/820f8ab9f7e8f20d26b8ec57776d24ec13687258) with your GitHub account for more accurate contribution calculation.

[2019-06-19 12:28] DemianTinkiel commented on #35
@hsluoyz thanks,  I'm just happy to help :smile: sorry for PR spam, merge conflict resolution in github is weird to me. #40 is ready when you are

[2019-06-19 13:42] DemianTinkiel commented on #35
@hsluoyz  You closed the PR. Is that intentional? Do you want a new one?

[2019-06-22 07:47] hsluoyz commented on #35
Fixed in: https://github.com/casbin/jcasbin/commit/e3a28951550a184f2561da5c78156386f5364c28

[2019-06-22 07:47] #35 closed

[2019-07-04 02:33] wzhj2326 opened #41 "adapter addPolicy should after model.addPolicy ?"
org.casbin.jcasbin.main.InternalEnforcer.java
 //
When the added policy exists, it will cause repeated additions in the storage.
thanks.

[2019-07-04 02:34] hsluoyz commented on #41
Hi @wzhj2326 , to keep Casbin an international project, can you modify your text into English please? When it's done, we will answer your question.

[2019-07-04 02:37] wzhj2326 commented on #41
org.casbin.jcasbin.main.InternalEnforcer.java
 //
When the added policy exists, it will cause repeated additions in the storage.
thanks.

[2019-07-04 06:27] fangzhengjin commented on #41
For historical reasons, the current rule deduplication is done by the adapter. You can refer to the method
[loadPolicy](https://github.com/jcasbin/casbin-spring-boot-starter/blob/master/src/main/java/org/casbin/adapter/JdbcAdapter.java#L99) - [transformToCasbinRule](https://github.com/jcasbin/casbin-spring-boot-starter/blob/master/src/main/java/org/casbin/adapter/CasbinRule.java#L60) custom adapte

[2019-08-27 14:41] haramoz opened #45 "Integrate casbin with jsf"
Hi, I need to use casbin with jsf for my project. Is there any taglib available for jsf which can be used for role based page display ?

[2019-08-27 14:45] hsluoyz commented on #45
@fangzhengjin

[2019-08-30 02:31] fangzhengjin commented on #45
Sorry, we don't have a support plan for jsf yet.

[2019-08-30 03:48] hsluoyz commented on #45
Please use SpringBoot.

[2019-09-11 06:53] ArvinSiChuan opened #46 "Delete Permission throw an exception"
when I invocke `enforcer.deletePermission(perm)` while I have no permission assigned to anyone(no this perm record), it throws the following exception:
CasbinAdapterException: Remove filtered policy error, remove 0 rows, expect least 1 rows

I'm using the default model(no conf file).

[2019-09-12 06:19] hsluoyz commented on #46
@fangzhengjin

[2019-09-12 06:47] fangzhengjin commented on #46
@ArvinSiChuan ArvinSiChuanHaving a reproducible example would speed up fixing the issue ;)

[2019-09-12 06:52] ArvinSiChuan commented on #46
@fangzhengjin I’m using casbin spring boot starter. And when I perform a delete operation like ‘ enforcer.deletePermission(perm)’ without a perm in the casbin rule table it will give me this exception. Looks like it hadn't done anything to deal with this situation (the record not exists) in jdbc adapter.

[2019-09-12 06:56] fangzhengjin commented on #46
@ArvinSiChuan Can you provide an engineering example that can reproduce the problem?

[2019-09-12 07:02] hsluoyz commented on #46
@ArvinSiChuan show us the code

[2019-09-12 07:04] ArvinSiChuan commented on #46
@fangzhengjin
background:
spring boot project, with 2.1.7.RELEASE and casbin spring boot starter the latest

default model, with jdbc adapter

situation 1
put no data in the table of casbin_rule
excute `enforcer.deletePermission(perm);`

situation
put some data in the table of casbin_rule：
p ROLE_ADMIN res add
g admin ROLE_ADMIN

excute `enforcer.deletePermission("res","delete");`

[2019-09-13 15:39] haramoz opened #47 "jcasbin maven related issue"
![image](https://user-images.githubusercontent.com/6873268/64875222-ec30f200-d64c-11e9-8c05-7ca1febf522a.png)
Hello I am a jcasbin user. I thank you for the great project. I am using maven.

- What I noticed is the jar that comes from maven is called **jcasbin-1.2.0**. the current version is 1.4.0 this must be a mistake right?

- also the **exceptions** are not included in the jar

- **FileAdapter

[2019-09-14 06:20] hsluoyz commented on #47
Please make sure you used this: https://mvnrepository.com/artifact/org.casbin/jcasbin/1.4.0

[2019-09-14 06:25] hsluoyz commented on #46
Please send the issue here instead: https://github.com/jcasbin/casbin-spring-boot-starter

[2019-09-14 06:25] #46 closed

[2019-09-14 06:50] ArvinSiChuan commented on #46
refer to https://github.com/jcasbin/casbin-spring-boot-starter/issues/11 now.

[2019-09-14 09:27] haramoz commented on #47
Yes I used that one! 1.4.0 :)

[2019-09-14 09:27] #47 closed

[2019-10-19 02:47] hsluoyz commented on #10
@M-Razavi jCasbin ``1.2.0`` has been released to Maven, may need some time for cache: https://mvnrepository.com/artifact/org.casbin/jcasbin

[2019-10-31 04:58] jianchengwang opened #48 "springboot fatjar can't read casbin config resources"
when I `maven package` my `springboot` project as a `fatjar`, then i run commed `java -jar`, here are some exception stack messages below.
[code]
and here is `org.casbin.jcasbin.config.Config.parse` method below

[code]

then I found a question in`StackOverflow`, [https://stackoverflow.com/questions/25869428/classpath-resource-not-found-when-running-as-jar](url)

I don't know this is a bug or not,

[2019-10-31 05:19] hsluoyz commented on #48
@fangzhengjin

[2019-10-31 06:51] jianchengwang commented on #48
my fault, it had been fixed in `casbin-spring-boot-starter:0.0.9`, i use `0.08` before.

in `0.09`

[code]

not `model.loadModel()`, so it work ok.

[2019-10-31 06:51] #48 closed

[2019-11-07 05:33] lockdown56 opened #49 "Is there need a method for RBAC: getImplicitPermissionForUserInDomain ?"

[2019-11-07 05:42] hsluoyz commented on #49
Can you make a PR about it?

[2019-11-07 05:56] lockdown56 commented on #49
of course, it's going to be fun

[2019-11-07 08:16] #49 closed

[2020-01-31 12:32] LimitlessKshitij opened #52 "ABAC + RBAC mixture model: How to use custom function with enforcer"
As we know only request is permissible to have object and object to be associated  with functions in matcher definition.

Currently I want to create the Intimefunction in which I want to provide limited time admin access or privilege access to certain users.

I have created the function and added the same using enforcer.addFunction(name, function(instance)).

Do I not require to input any policies

[2020-02-01 20:02] #52 closed

[2020-02-01 20:20] LimitlessKshitij commented on #9
Hi @M-Razavi I am new to casbin, I want to use ABAC in conjugation with RBAC and ACL, I have created custom aviation functions and used them in matchers as well but enforcing the rule is kind a little tricky, If possible can you provide some workable code for referencing. For example,the use case is: I want to provide limited access to set  of people and to roles if they are calling within the par

[2020-02-13 13:56] amelleHamouch opened #53 "nullPointer at Enforcer"
![cas](https://user-images.githubusercontent.com/50912917/74441625-75ed2180-4e70-11ea-9a6b-e8bc2a97f2b7.JPG)
![Capturecas](https://user-images.githubusercontent.com/50912917/74441712-99b06780-4e70-11ea-827a-5a291028e857.JPG)
![null](https://user-images.githubusercontent.com/50912917/74441762-b0ef5500-4e70-11ea-8770-fc655a1a4042.JPG)

It doesn't reach the condition , when I instanciate the Enforcer

[2020-02-13 13:59] hsluoyz commented on #53
Can you debug it and find the crashing line?

[2020-02-13 14:04] amelleHamouch commented on #53
Line 69 ,             Enforcer enforcer = new Enforcer(tempConfPath, tempPoliciesPath);
says the enforcer is null

[2020-02-13 14:40] hsluoyz commented on #53
I can't squeeze out a bit information time to time like this. Can you provide a full working and runnable example to reproduce?

[2020-02-13 15:25] amelleHamouch commented on #53
/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
package com.kapiasolutions.karma.filter;

import com.kapiasolutions.karma.util.LogUtil;
import java.io.FileWriter;
import java.io.IOException;
import java.nio.file.Files;
import java.nio.file.Paths;
import java.secu

[2020-02-13 15:28] hsluoyz commented on #53
It's better in a GitHub repo, with project files, POM file, etc. So I can run it at once without copy-paste and setup a lot of code.

[2020-02-13 15:29] amelleHamouch commented on #53
eh ..I don't have the right to share this code unfortunately ><

[2020-02-13 15:30] hsluoyz commented on #53
You should provide a minimized example, only show the bug.

[2020-03-02 09:47] laitySunPiaoliang opened #54 "Whether MySQL 8 is supported？"
There will be parameters in the URL of MySQL 8. Do you want to confirm whether MySQL 8 is supported? What do you do if you support the parameters in the URL?

![image](https://user-images.githubusercontent.com/13689466/75664540-90ffc400-5cad-11ea-8d1a-31b014e336bf.png)

![image](https://user-images.githubusercontent.com/13689466/75664407-64e44300-5cad-11ea-9426-34e66f13398b.png)

![image](https://

[2020-03-02 09:58] hsluoyz commented on #54
What's your issue? Are you trying to contribute code?

[2020-03-02 10:54] laitySunPiaoliang commented on #54
I'm a user. When I wrote the demo today, I found that this place is'? 'I feel that there is a problem. I want to ask you if there are some parameters used in mysql8. Here is'?' there is a problem

[2020-03-02 12:10] hsluoyz commented on #54
I still don't get your question. If you think the current code doesn't support MySQL8, please make a PR to support it.

[2020-03-02 12:10] hsluoyz commented on #54
@fangzhengjin

[2020-03-02 12:33] fangzhengjin commented on #54
@laitySunPiaoliang If you are a spring / spring boot project, please use [casbin-spring-boot-starter](https://github.com/jcasbin/casbin-spring-boot-starter), if you are an ordinary Java project, please copy [JDBCAdapter.java](https://github.com/jcasbin/jdbc-adapter/blob/master/src/main/java/org/casbin/adapter/JDBCAdapter.java) to the project for modification

[2020-03-02 12:47] laitySunPiaoliang commented on #54
@hsluoyz  @fangzhengjin    我应该在 https://github.com/jcasbin/jdbc-adapter  这里提的

[2020-03-02 12:47] #54 closed

[2020-03-12 04:30] hsluoyz opened #56 "MyBatis Adapter wanted"

[2020-03-12 04:39] hsluoyz opened #57 "Integration with Apache Shiro and Spring Security"
In Java world, Apache Shiro and Spring Security are very popular security frameworks. We need to find ways to wrap jCasbin into a middleware of the above both, so Shiro and Spring users can use jCasbin without much migration efforts.

[2020-03-14 10:46] fanlide commented on #56
I open sourced my own [HutoolDBAdapter etcdWatcher](https://github.com/fanlide/jcasbin-extra)

[2020-03-14 11:21] hsluoyz commented on #56
Hi. It should be all English. And there's no MyBatis.

[2020-03-14 16:50] fanlide commented on #56
@hsluoyz The first time I wrote it, I also used MyBatis, but I found it more convenient to use this kind of data source in a production environment.

[2020-03-15 13:41] fanlide commented on #57
I have a project [shiro-jrc-starter](https://github.com/fanlide/shiro-jrc-starter) that is using Apache Shiro integrated jcasbin, jwt, redis, but I haven't written instructions yet. I hope it can be of some use to you.

The project is not in English for the time being. If it is useful, I will change it later.

[2020-03-19 04:40] codewaiwai commented on #56
Hi~I want to finish this task. And I know that the adapters code for Casbin(golang) is separated from Casbin. Is it same with JCasbin? Should I make a PR in this repo?

[2020-03-19 08:13] hsluoyz commented on #56
Fork this repo: https://github.com/jcasbin/mybatis-adapter and make PR.

[2020-03-21 03:11] fanlide commented on #57
I sorted out a separate Shiro integrates Casbin starter [shiro-jcasbin-spring-boot-starter](https://github.com/fanlide/shiro-jcasbin-spring-boot-starter).

[2020-04-06 03:45] hsluoyz opened #60 "Java's SyncedEnforcer lacks some methods compared to Golang"
Java: https://github.com/casbin/jcasbin/blob/master/src/main/java/org/casbin/jcasbin/main/SyncedEnforcer.java

Golang: https://github.com/casbin/casbin/blob/master/enforcer_synced.go

Functions like `LoadPolicy()` are missing. Can anyone add the missing functions?

[2020-04-06 03:47] DivyPatel9881 commented on #60
I will add the missing functions.

[2020-04-07 01:52] doctormacky commented on #60
Any ETA for this issue ?

[2020-04-07 03:20] hsluoyz commented on #60
I think we can fix this in 3 days? @nodece @fangzhengjin @DivyPatel9881

[2020-04-07 05:01] DivyPatel9881 commented on #60
Yeah, I just have to setup my Java working env for this, as it contains many 3-party dependencies, can I ask, which platform or IDE should I use for the development of jcasbin

[2020-04-07 05:01] DivyPatel9881 commented on #60
Yeah it will be done in 3days

[2020-04-07 05:10] hsluoyz commented on #60
IntelliJ IDEA

[2020-04-12 08:48] alikhan866 opened #62 "DynamoDB adapter or any other serverless DB adapter wanted for jCasbin"
I'm using Casbin on the backend which uses java.. so i need to store my policies in a `Serverless DB` so that i dont have to worry about scalability/maintainence using `Casbin  DB adapter`

[2020-04-12 14:23] hsluoyz commented on #62
@alikhan866 can you develop one?

[2020-04-12 14:33] alikhan866 commented on #62
@hsluoyz I don't think i can .. else i would have implemented it and created a PR ... would really appreciate any alternative suggestions on how to use a serverless DB in my java backend to store and retrieve policies using Casbin if there are any :)

[2020-04-12 16:09] hsluoyz commented on #62
Can anyone do this? @nodece

[2020-04-13 05:29] nodece commented on #62
Sorry, I don't have serverless DB experience.

[2020-04-14 14:08] #60 closed

[2020-04-17 10:29] bpatters opened #64 "Potential partial/complete dataloss in savePolicy."
Failure in the savePolicy function can lead to a complete loss of all data because savePolicy doesn't use transactions  AND:
1. First drops the table
2. Recreates the table.
3. Executes a batch of inserts to save the policy.

If 1 succeed and a failure occurs anytime after it can lead to a partial or complete data loss.

It'd be much safer if it:
1. Started a transaction
2. Deleted everything in t

[2020-04-17 10:37] bpatters commented on #64
whoops wrong repo.

[2020-04-17 10:37] #64 closed

[2020-04-17 15:09] hsluoyz opened #66 "Implement the loadFilteredPolicy() function"
It is not implemented yet:

https://github.com/casbin/jcasbin/blob/78ea156f09ae4a75579ad563866be66d49887c8e/src/main/java/org/casbin/jcasbin/main/CoreEnforcer.java#L207-L214

I want to fix this because we received a PR: https://github.com/casbin/jcasbin/pull/65

[2020-04-17 15:10] hsluoyz commented on #66
@nodece @GopherJ @xcaptain @fangzhengjin

[2020-04-18 06:38] DivyPatel9881 commented on #66
Can I take this issue?

[2020-04-18 06:46] nodece commented on #66
@DivyPatel9881  Okey.

[2020-04-18 08:17] alikhan866 commented on #62
@hsluoyz  Is anyone working on this ? If yes can you please give me an ETA so i can proceed with my project accordingly :)

[2020-04-19 02:05] hsluoyz commented on #62
I think this work is simple. We already have Golang's DynamoDB adapter: https://github.com/HOOQTV/dynacasbin and Java's other adapters like:

https://github.com/jcasbin/jdbc-adapter
https://github.com/fanlide/jcasbin-extra

Mixing them together will ease the development of the Java's DynamoDB adapter.

[2020-04-19 15:20] nodece commented on #64
Thanks @bpatters for your report.

Data is very valuable, We can not allow this to happen!

I will take up it.

[2020-04-19 15:24] nodece opened #67 "How to check whether the adapter can be updated successfully?"
I find that each methods of `adapter` returns `void` .

In Casbin, How to check whether the adapter can be updated successfully?

If no has ACK,  will cause data loss.

[2020-04-19 15:26] hsluoyz commented on #64
Let's discuss in: https://github.com/jcasbin/jdbc-adapter/issues/14

[2020-04-19 15:28] hsluoyz commented on #67
Golang return errors, so I think Java will throw exceptions?

[2020-04-19 15:32] nodece commented on #67
The correct signature should be like this:
[code]

[2020-04-19 15:42] hsluoyz commented on #67
OK. Can anyone fix it?

[2020-04-19 15:45] nodece commented on #67
I fix it as soon as possible and it as breaking change.

[2020-04-20 03:57] nodece commented on #67
Sorry I provide a wrong issue.

`adapter` can `throws` any exception,  but I think of explicit declaration is good habit.

[2020-04-20 03:57] #67 closed

[2020-04-22 06:30] DivyPatel9881 commented on #66
This will require the implementation of a Filtered adapter interface.

[2020-05-05 09:56] kingiw commented on #62
Maybe I can have a try on that.

[2020-05-06 04:49] fanlide opened #69 "NullPointer appears in hasRoleForUser"
![image](https://user-images.githubusercontent.com/20534139/81139031-dd5dcd80-8f96-11ea-8e53-4ffd9d8afad5.png)

This should be a design issue with getRolesForUser.
When user does not assign role, it should return empty list instead of null.
Similarly, the same should be true for getUsersForRole, getRolesForUserInDomain, etc.

[2020-05-06 05:21] nodece commented on #62
@hsluoyz Could your create a DynamoDB adapter repository for @kingiw ?

[2020-05-06 05:36] hsluoyz commented on #62
@nodece created: https://github.com/jcasbin/dynamodb-adapter

[2020-05-06 06:54] hsluoyz commented on #69
@fanlide can you make a PR to fix it?

[2020-05-06 06:58] fanlide commented on #69
Very happy to

[2020-05-06 07:24] #69 closed

[2020-05-22 04:17] The-Mountain opened #71 "API enhancement requirement: batch object API for permission validation"
HI there,
I have a requirement in our business to validate the permission for inputed multiple objects and filter the objects which current user don't have permission to access, it seems that current verion API can't support it, please assess if can be added in your furture version, if this could not be in your scope, batch api for permission validation is also ok,that would be highly appreciate i

[2020-05-22 04:23] The-Mountain opened #72 "New API requirement: get subject's available actions list for inputed object"
HI there,
I have a requirement in our business to get user's permission list for specified object, it seems that current verion API can't support it, please assess if could be added in your furture version, that would be highly appreciate if scheduled release date could be provided, thanks!

[2020-05-22 07:00] hsluoyz commented on #72
@The-Mountain what's this difference with https://github.com/casbin/jcasbin/issues/71?

[2020-05-22 07:56] The-Mountain commented on #72
@hsluoyz the difference is #71 is need framework to filter the unauthorized objects, e.g. 10 request/objects are inputed to this API, if currenct user don't have permisson to access two of them,  then API should filter theese two requests/objects, and return other 8 requests or objects with valid permission, #72 is need framwork to get valid actions on inputed object for current user, e.g. we tota

[2020-05-22 11:16] hsluoyz commented on #72
They seem the same to me. Both are "filtering".

[2020-05-22 11:17] hsluoyz commented on #72
We should add the filtering functionality to Casbin. Any idea to how to implement it? @nodece @GopherJ @DivyPatel9881 @kingiw

[2020-05-22 11:59] The-Mountain commented on #72
ok, I got your point, from internal logic implementation they are both filtering,  but from API perspective，for more convenience to invoke these APIs,  the input and output of these two APIs should be different

[2020-05-22 12:03] nodece commented on #71
Could you try the `enforcer.getImplicitPermissionsForUser`?

[2020-05-22 12:06] nodece commented on #72
Could you try the `enforcer.getFilteredPolicy` and `enforcer.getFilteredGroupingPolicy`?

[2020-05-26 04:22] The-Mountain opened #73 "The benchmark for jcasbin"
Hi there,
As we may have millions of policies in our business, not sure the currect framework could support such so large policies? if it will cause the OOM issue? or other perfromance issues? is there a benchmark for jcasbin? thanks.

[2020-05-26 04:25] hsluoyz commented on #73
Can anyone port Golang's benchmark test to Java? https://casbin.org/docs/en/benchmark

@nodece @GopherJ @DivyPatel9881 @kingiw @hackerchai @dovics

[2020-05-26 04:31] hsluoyz commented on #62
@kingiw the adapter is already available in Maven: https://mvnrepository.com/artifact/org.casbin/dynamodb-adapter

Can you update the README's badges and install command (https://github.com/jcasbin/dynamodb-adapter)? See jCasbin as an example: https://github.com/casbin/jcasbin

![image](https://user-images.githubusercontent.com/3787410/82860583-b1f25100-9f4c-11ea-993a-4ebfcb5e1a60.png)

![image](h

[2020-05-26 04:34] hsluoyz commented on #66
@DivyPatel9881 do you have time to solve this one?

If Divy doesn't have time, can anyone take this? @nodece @GopherJ @kingiw @dovics @hackerchai I don't want this PR: https://github.com/casbin/jcasbin/pull/65 to be merged.

[2020-05-26 05:57] kingiw commented on #62
@hsluoyz See the latest [PR](https://github.com/jcasbin/dynamodb-adapter/pulls?q=is%3Aopen+is%3Apr).

[2020-05-26 06:00] #62 closed

[2020-05-26 06:01] hsluoyz commented on #62
@alikhan866 it's finished: https://github.com/jcasbin/dynamodb-adapter

[2020-05-31 01:46] hsluoyz commented on #73
@happybyr Can you help solve it?

[2020-06-07 21:40] dimi-nk commented on #53
I bumped into a similar issue last night. The code that parses the `policy.csv` expects everything to be delimited with `", "` and nothing else. I'll make a PR to make that a bit more lenient.

[2020-06-08 00:11] #53 closed

[2020-06-08 01:17] hsluoyz opened #76 "Use semantic-release to automatically release jCasbin versions"
We already used semantic-release in Go and Nodejs, see Node-Casbin: https://github.com/casbin/node-casbin/pull/153#issuecomment-625775348

![image](https://user-images.githubusercontent.com/3787410/83984606-7aca6980-a968-11ea-8eef-49f5fbd45008.png)

I think we should also integrate it into Java. It will auto-release to GitHub Releases and Maven via plugin: https://github.com/conveyal/maven-semanti

[2020-06-08 01:36] hsluoyz commented on #66
@tldyl can you take this issue?

[2020-06-08 02:10] #73 closed

[2020-06-08 02:10] hsluoyz commented on #73
@The-Mountain it has been fixed in: https://github.com/casbin/jcasbin/pull/74

[2020-06-08 02:12] hsluoyz commented on #76
Can anyone work on it? @tldyl

[2020-06-08 02:14] hsluoyz commented on #71
Closed as stale.

[2020-06-08 03:18] The-Mountain commented on #73
@hsluoyz thanks for the support!

[2020-06-08 12:51] #66 closed

[2020-06-08 14:01] hsluoyz commented on #57
@fanlide added to: https://casbin.org/docs/en/middlewares

[2020-06-09 02:00] fanlide commented on #57
My pleasure

[2020-06-09 07:16] bgranvea opened #78 "Performance problem of CoreEnforcer.enforce"
In my use case of jcasbin, I have many calls of CoreEnforcer.enforce and this becomes a performance bottleneck. The root cause seems to be in these lines:

[code]

The compiled expression is very likely to be the same each time and it is parsed and recompiled each time. Shouldn't we instanciate `AviatorEvaluatorInstance` only once and use `eval.compile(expString, true)` to get a cached expression?

[2020-06-09 08:19] hsluoyz commented on #78
Hi @bgranvea this is a known issue. Actually there's a PR about it: https://github.com/casbin/jcasbin/pull/44 but this PR is rejected because of some multi-threading handling issue.

Can you make a PR (based on that PR if you wish, or not) to solve it?

[2020-06-09 11:53] bgranvea commented on #78
ok thanks I will try to do a PR.

[2020-06-09 14:28] bgranvea commented on #78
What is tricky is to manage when to reset AviatorEvaluatorInstance because of a change in this list of functions:

[code]

First approach is to check if this list is the same as before (it must then be ordered and we can just compare references to AviatorFunction and Assertion), but we still have to build the list each time and I am not sure how large it can be.

Another approach is to check all p

[2020-06-09 14:34] hsluoyz commented on #78
This way is better in performance. But why version is needed? You can set the AviatorEvaluatorInstance to null. And for next time if it is found to be null, then a new instance will be created.

[2020-06-09 14:57] bgranvea commented on #78
yes that's the solution in PR #44 but I was not very happy with the shared singleton. I wanted to keep a AviatorEvaluatorInstance field inside CoreEnforcer but this implies that Model and FunctionMap have a reference to CoreEnforcer.

If I understand correctly, you are more on the singleton solution + ThreadLocal?

[2020-06-09 15:31] hsluoyz commented on #78
What do you mean by **singleton**? I assumed `AviatorEvaluatorInstance` would be a member of an enforcer instance. Are we on the same page?

[2020-06-09 15:35] bgranvea commented on #78
ok I will do a first PR so that we can talk more concretely.

[2020-06-12 05:44] #78 closed

[2020-06-12 07:31] bgranvea commented on #78
Thanks for merging my PR. Any idea of a date for the next release?

[2020-06-21 09:28] #72 closed

[2020-06-21 09:29] hsluoyz commented on #76
@tldyl any update?

[2020-06-21 18:39] kingiw commented on #72
@hsluoyz Can we add this api (and other similar apis like this one) to other version of Casbin?

[2020-06-23 07:19] JavaMiner opened #84 ""Could not find function named 'eval'" when trying with ABAC example"
Running example from the chapter [Scaling the model for complex and large number of ABAC rules](https://casbin.org/docs/en/abac#scaling-the-model-for-complex-and-large-number-of-abac-rules)
end-up with exception:
`com.googlecode.aviator.exception.ExpressionRuntimeException: Could not find function named 'eval'`

Could you please advise how to enable the eval() method in jCasbin?

[2020-07-02 05:14] hsluoyz commented on #84
@JavaMiner the eval() feature is still not added to jCasbin.

@tldyl can you add the scaling ABAC feature?

[2020-07-07 07:42] #84 closed

[2020-07-07 08:45] hsluoyz commented on #76
@tldyl

[2020-08-02 09:59] hsluoyz commented on #71
Closed as resolved.

[2020-08-02 09:59] #71 closed

[2020-08-02 10:00] hsluoyz commented on #56
@tldyl is working on it: https://github.com/jcasbin/mybatis-adapter

[2020-08-02 10:01] #56 closed

[2020-08-02 10:02] hsluoyz commented on #45
@tldyl can you investigate if we can support JSF?

[2020-08-02 10:12] hsluoyz commented on #41
@tldyl please follow how Golang Casbin did: https://github.com/casbin/casbin/pull/490 to fix this issue.

[2020-08-03 07:02] #41 closed

[2020-08-05 07:49] hsluoyz opened #88 "Add SyncedEnforcer to support multi-threading"
See what is multi-threading: https://casbin.org/docs/en/multi-threading

See jCasbin's feature set: https://casbin.org/docs/en/overview#feature-set-for-different-languages

![image](https://user-images.githubusercontent.com/3787410/89386107-3292b200-d733-11ea-9019-2962b428051a.png)

We can port the Go code to Java: https://github.com/casbin/casbin/blob/master/enforcer_synced.go

[2020-08-05 07:50] hsluoyz commented on #88
@tldyl can you do this?

[2020-08-05 07:55] hsluoyz commented on #88
Sorry. I forgot that this has been fixed in: https://github.com/casbin/jcasbin/pull/32

[2020-08-05 07:55] #88 closed

[2020-08-24 07:48] quytm-teko opened #89 "Missing built-in function `keyMatch3` and `keyMatch4`"
https://github.com/casbin/jcasbin/blob/c8f092320a67e376bbb906a1741aa01335583f13/src/main/java/org/casbin/jcasbin/model/FunctionMap.java#L47

`FunctionMap` is out-of-date, please add missing built-in functions `keyMatch3` and `keyMatch4`.

Thanks! ^^

[2020-08-24 07:49] hsluoyz commented on #89
@tldyl please take this issue to work on.

[2020-08-26 03:18] liergou99 opened #91 "How does jcasbin connect to the database？"
How jcasbin connects to the database, for example: mysql, pg. Can jcasbin use an external authority table like SpringSecurity?

[2020-08-26 03:29] hsluoyz commented on #91
@liergou99 jCasbin supports a lot of DBs, see the adapters under the Java tab: https://casbin.org/docs/en/adapters

[2020-08-26 05:50] #89 closed

[2020-08-26 05:50] hsluoyz commented on #89
@tldyl PR merged, can you make a new release?

[2020-08-26 05:51] #91 closed

[2020-08-26 09:21] liergou99 commented on #91
It seems that Casbin's adapter cannot use external tables.

[2020-08-26 09:22] liergou99 commented on #91
It seems that Casbin's adapter cannot use external tables.

[2020-08-26 09:23] hsluoyz commented on #91
What do you mean by "external tables"?

[2020-08-26 09:25] liergou99 commented on #91
When the application system uses casbin for permission verification, the system will have its own user system instead of using the adapter’s "casbin_rule" table

[2020-08-26 09:27] liergou99 commented on #91
When the application system uses casbin for permission verification, the system will have its own user system instead of using the adapter’s "casbin_rule" table

[2020-08-26 09:30] liergou99 commented on #91
The application system generally has its own user table, such as users, roles, etc.

[2020-08-26 11:26] hsluoyz commented on #91
Most adapters allow you to specify a DB name in args, so you can point it to an existing DB. By default it will save/load a table named "casbin_rule".

[2020-08-28 13:57] brunodomenici opened #92 "Not validating with jCasbin"
Hi,

I'm not able to enforce a policy that is working on Casbin Editor with jCasbin.

I have this conf:

[code]

This policy file:
[code]

My code:
[code]

My application log:

[code]

Any ideas?

Thanks a lot!

[2020-08-28 14:13] hsluoyz commented on #92
Hi @brunodomenici I didn't see "viewer" is granted permission anywhere..

[2020-08-28 14:29] brunodomenici commented on #92
@hsluoyz ooops, my bad on copy & paste, sorry...
I corrected issue description...
Thanks

[2020-08-28 14:36] hsluoyz commented on #92
@tldyl please test this issue.

[2020-08-28 15:04] hsluoyz commented on #92
@brunodomenici your code looks OK.

Can you troubleshoot it by removing a part from the matcher? Like chaning:

[code]

into:

[code]

So we can know which part doesn't work as expected.

[2020-08-28 15:14] brunodomenici commented on #92
@hsluoyz I did the the test and if definitely `&& regexMatch(r.artifact, p.artifact)` which not validate. Without that the enforce returns `true`

[2020-08-28 16:00] brunodomenici commented on #92
Well, I got it. The problem was my regular expression.
To achieve what I want, it should be `.*APP1.*` instead of `.*APP1`.
This works in Casbin Editor because I supposed that it's implemented in GO. In jCasbin you use Java's flavor regex (of course). What makes sense, but I need to pay attention because I'm planing to use Casbin in several Microservices, implemented in several platforms (JAVA, GO

[2020-08-28 16:00] #92 closed

[2020-08-28 16:06] hsluoyz commented on #92
@brunodomenici one thing to clarify is that Casbin Editor is based on Node-Casbin, but Golang Casbin, see: https://github.com/casbin/casbin-editor . It is actually calculated totally in your own browser. There's no backend for it.

About regex, yes we usually use the built-in or std regex for that language. Maybe it is an issue for cross-language applications. We are open to all suggestions that l

[2020-09-04 11:59] cici-debug opened #94 "NullPointerException occurred when init with empty policy"
Member functions of Policy class do not check if the key `ptype` exists in the map, so when I tried to call `enforcer.addPolicy()` or `enforcer.getPolicy()` after init enforcer with empty policy, NullPointerException was throw. Is it a design issue? Ptype's existence should be checked and if it does not exist, empty list should be returned, not NullPointerException.

[2020-09-04 12:00] hsluoyz commented on #94
@cici-debug can you give a full minimized example to reproduce it?

[2020-09-04 12:10] cici-debug commented on #94
I used an customized adapter and the database is empty.
`MyAdapter a = new MyAdapter();
 Enforcer e = new Enforcer("examples/rbac_model.conf", a);
e.addPolicy("alice", "data", "query")`
I found that the problems happened because of this line: https://github.com/casbin/jcasbin/blob/7dc03b642b571ff5d71b96188bc2621ff059dcf2/src/main/java/org/casbin/jcasbin/model/Policy.java#L118

[2020-09-04 12:15] hsluoyz commented on #94
Then your adapter causes this crash. @tldyl please follow up this issue.

[2020-09-04 12:22] cici-debug commented on #94
If i do not use the adpter, just new the enforcer this way:
`        Enforcer enforcer = new Enforcer("./src/main/resources/model.conf", "./src/main/resources/policy.conf");
        enforcer.getPolicy();`
NullPointerException was also throw. The policy file is an empty file btw.

[2020-09-04 15:59] hsluoyz commented on #94
@cici-debug please review this fix: https://github.com/casbin/jcasbin/pull/95

[2020-09-05 07:20] cici-debug commented on #94
That's my config file that caused the problem. I will close the issue. Thanks for the help.

[2020-09-05 07:20] #94 closed

[2020-09-16 05:15] GYWang1983 opened #96 "Multi-line mode Matcher not work"
If appending '\\' at the end of Line, an ExpressionSyntaxErrorException occurs

[code]

[code]

[2020-09-16 06:40] hsluoyz commented on #96
@tldyl

[2020-09-17 08:40] #96 closed

[2020-09-17 08:41] hsluoyz commented on #96
@tldyl merged, please make a new release.

[2020-09-21 08:26] cici-debug opened #98 "Benchmark for SyncedEnforcer"
I am trying to get benchmark for SyncedEnforcer and found that increasing threadPool size won't increase the qps for enforce because write lock is used when function `syncedEnforcer.enforce()` is called. However, in golang version, they use read lock instead. Does that mean the golang benchmark for SyncedEnforcer would be much higher than jcasbin? I'm curious why a write lock is needed in enforce

[2020-09-21 14:07] hsluoyz commented on #98
@tldyl please fix this issue.

[2020-09-23 01:05] #98 closed

[2020-09-23 01:17] hsluoyz commented on #98
Fixed in: https://github.com/casbin/jcasbin/pull/99

[2020-09-29 15:26] hsluoyz opened #100 "Fix the javadoc errors"
When I try to release this repo into Maven with the following command,

[code]

I encountered the javadoc errors. It seems that our javadocs are in wrong format.

[code]

@tldyl can you fix it so I can release new versions?

[2020-09-29 16:13] #100 closed

[2020-10-09 11:22] anhldbk opened #102 "Custom field name for policy effect"
Hi there,

I see an error while customizing policy model

[code]

Here what the error looks like:

![Screen Shot 2020-10-09 at 18 20 36](https://user-images.githubusercontent.com/3270746/95577330-280ad680-0a5c-11eb-9a01-92b8e9c5b7bf.png)

If I modify `effect` back to `eft`, everything works normally.

Would you please tell me is this an intended behaviour?

Thank you.

[2020-10-09 11:51] hsluoyz commented on #102
@anhldbk hi, you are sending to the wrong place. Please send online editor related questions to: https://github.com/casbin/casbin-editor

[2020-10-09 11:51] #102 closed

[2020-10-09 13:57] anhldbk commented on #102
@hsluoyz Diving into jcasbin code base, I've found [following logic](https://github.com/casbin/jcasbin/blob/master/src/main/java/org/casbin/jcasbin/effect/DefaultEffector.java#L31-L76)

[code]

Looks like it's hard coded into the implementation.

[2020-10-25 01:52] hsluoyz opened #104 "Create a jCasbin authorization module for Play"
See: http://playframework.org/

The repo is created here: https://github.com/jcasbin/play-authz , you can make PR to add code to it.

You can see existing similar authorization modules for Play as reference: https://www.playframework.com/documentation/2.8.x/ModuleDirectory#Authentication-(Login-&-Registration)-and-Authorization-(Restricted-Access)

![image](https://user-images.githubusercontent.co

[2020-10-25 01:54] hsluoyz opened #105 "Make a Vert.x middleware"
See: https://vertx.io/

I already made a PR here: https://github.com/vert-x3/vertx-auth/pull/215 , but the Vertx owners suggest we maintain the middleware in our own org, so we will put the code here: https://github.com/jcasbin/vertx-authz

We can refer to the code in the above PR and deliever a better vert.x middleware at: https://github.com/jcasbin/vertx-authz

[2020-11-05 06:16] kanika21011 opened #106 "Passing a list of values for an attribute in ABAC model"

[2020-11-05 06:19] #106 closed

[2020-11-05 06:44] hsluoyz commented on #66
Implemented in: https://github.com/casbin/jcasbin/pull/77

[2020-11-05 09:35] fangzhengjin opened #107 "Add the FilteredAdapter interface"
For Golang Casbin, we designed an interface for FilteredAdapter: https://github.com/casbin/casbin/blob/master/persist/adapter_filtered.go

For Java, we only have a FilteredAdapter class which is actually an implementation of the FilteredAdapter interface for files: https://github.com/casbin/jcasbin/blob/a69db939567061ac25f415bb722d1cbd76effb44/src/main/java/org/casbin/jcasbin/persist/file_adapter/

[2020-11-09 18:53] will7200 opened #108 "Implementation doesn't match Online Editor Results"
Hello

A user of the casbin plugin for Jetbrains is experiencing some mismatched results compared to the online editor.
The following is the policy, model, test request with results from java implementation vs online implementation. You can refer to the original issue will7200/casbin-idea-plugin#2. Any help would be appreciated.

**Casbin policy:**
[code]

**Casbin model:**
[code]

**Test requests

[2020-11-10 01:00] hsluoyz commented on #108
@nodece please take a look.

[2020-11-10 14:43] nodece commented on #108
@will7200 I tried to clone by `gh repo clone casbin/jcasbin`, then use the data you provide for testing, jcasbin works fine.
[code]

[2020-11-10 20:18] will7200 commented on #108
@nodece Thanks for looking into this. It seems that I am getting the correct results now. I was able to replicate the issue yesterday, but now I can no longer today. Most likely a bug in the plugin then.

[2020-11-10 20:18] #108 closed

[2020-12-16 12:38] hsluoyz commented on #107
@RuiyuShan can you take it?

[2020-12-21 01:23] Yienlilu opened #115 "NullPointerException at the Funtion "public void savePolicy(Model model) {}" in FileAdapter.java"
## Original Code of the function

[code]

## Why I meet the NPE

I choose a keymatch_[model.conf](https://github.com/casbin/jcasbin/blob/master/examples/keymatch_model.conf) and a keymatch_policy.csv. Then I try to save a policy in my project. Here is my code:
[code]
`Policy` class is a packaged class of `sub、obj、act` for me to use casbin more conveniently.

Everytime I call this funtion, I will m

[2020-12-21 02:19] hsluoyz commented on #115
@Yienlilu the latest code has fixed this issue:

https://github.com/casbin/jcasbin/blob/5ec9e3fe08f3f80e8e99e1db3953e5cb68c016f9/src/main/java/org/casbin/jcasbin/main/CoreEnforcer.java#L334-L363

Please use latest release.

[2020-12-21 02:19] #115 closed

[2020-12-21 02:26] Yienlilu commented on #115
Fine. I just see the newest version is 1.5.

I am using 1.2version beacuse I see it at the website: casbin.org

https://casbin.org/docs/zh-CN/get-started

I think this need to be updated.

[2020-12-21 02:51] hsluoyz commented on #115
@Yienlilu actually latest version is 1.6.0: https://github.com/casbin/jcasbin/releases

Website has been updated: https://github.com/casbin/casbin-website/commit/015df152ec1aab51d592050f79e4052fc514e823

[2020-12-21 02:53] Yienlilu commented on #115
Thank you!

[2020-12-21 06:49] #107 closed

[2020-12-23 09:34] hsluoyz opened #117 "Add features like Dispatcher, UpdatableAdapter and DistributedEnforcer"
Someone has already implemented the code in PR: https://github.com/casbin/jcasbin/pull/111

But I want to re-arrange and split that PR into multiple smaller PRs for easy reviewing, like:

- [x] Dispatcher is a PR: fixed by: https://github.com/casbin/jcasbin/pull/118
- [x] UpdatableAdapter is a PR: fixed by: https://github.com/casbin/jcasbin/pull/120
- [ ] DistributedEnforcer is a PR

I hope someon

[2020-12-28 14:51] hsluoyz opened #119 "Add missing license headers"
Some files are missing license headers, like:

https://github.com/casbin/jcasbin/blob/master/src/main/java/org/casbin/jcasbin/persist/FilteredAdapter.java

We need to fix all these.

[2020-12-30 14:15] nodece opened #121 "Add globMatch pattern"
The [`glob`](https://en.wikipedia.org/wiki/Glob_(programming)) pattern is most welcome, we need to add a name called `globMatch` to the model to call this pattern.

Can anyone add the `globMatch` to jCasbin?

[2021-01-07 15:39] hsluoyz commented on #119
@shy1st next we can do this one.

[2021-01-08 03:50] #119 closed

[2021-01-08 03:53] hsluoyz commented on #76
@shy1st we can work on this issue as next step.

[2021-01-08 14:32] #117 closed

[2021-01-08 14:33] hsluoyz commented on #117
Done by 3 PRs, kudos to @shy1st !

[2021-01-08 14:34] hsluoyz commented on #121
I think we can add this.

[2021-01-08 14:38] shy1st commented on #117
I'm glad to get your praise,Thank you!

[2021-01-12 08:44] shy1st commented on #121
@nodece Excuse me，May I ask you a question? Do you mean that when we use the globMatch，we will get some file path，then we traverse these file paths and import their contents to the model?

[2021-01-12 08:45] hsluoyz commented on #121
@shy1st you can copy the implementation of Golang Casbin: https://github.com/casbin/casbin/pull/397

[2021-01-12 08:47] shy1st commented on #121
@hsluoyz Thanks, I will fix this issue.

[2021-01-13 10:12] #121 closed

[2021-01-15 13:50] hsluoyz commented on #76
@shy1st well done! We finally got this issue resolved.

So here's how to deploy a new jCasbin version:

[code]

[2021-01-15 14:04] shy1st commented on #76
I think this issue have not finished.In fact,a file named ".travis.yml" which I modified have not commit.I plan when I success to release jcasbin 1.6.3 fot the maven reponsitory and github release, then I create a pull request to commit the ".travis.yml".After that I think we can close this issue.What do you think about it? @hsluoyz

[2021-01-15 14:15] hsluoyz commented on #76
Sounds reasonable. Go ahead!

[2021-01-16 01:49] #57 closed

[2021-01-16 01:57] #45 closed

[2021-01-18 05:40] #76 closed

[2021-01-22 16:55] w-k-s commented on #13
Can you please provide an example of how to do this in Java. The documentation is thread-bare

[2021-01-22 17:17] hsluoyz commented on #13
@w-k-s see:

https://github.com/casbin/jcasbin/blob/dc122cd5aadddfa79c2538fd11d3129b571c8125/src/test/java/org/casbin/jcasbin/main/ModelUnitTest.java#L312-L345

[2021-01-27 12:24] shreyasGit opened #128 "Not able to use loadFilteredPolicy with JdbcAdatper in Jcasbin"
i think theres an issue in Jcasbin java version 1.6.3 and older , it does not support filtering on jdbc adapter, when i try to use https://github.com/jcasbin/casbin-spring-boot-starter with jcasbin, i see that in CoreEnforcer , it expects FilterAdapter only from file_adapter package, else throws this eroor.in short cannot use any jdbc adapter with Jcasbin

[code]

in above code FilteredAdapter  sh

[2021-01-27 12:45] hsluoyz commented on #128
@shy1st plz take a look.

[2021-01-28 04:11] hsluoyz opened #130 "Fix the new Travis-CI.com error"
After migrating from travis-ci.org to travis-ci.com, we had such an error: https://travis-ci.com/github/casbin/jcasbin/jobs/477551504

[code]

[2021-01-28 08:53] hsluoyz commented on #128
@shreyasGit fixed and released: https://github.com/casbin/jcasbin/releases/tag/v1.6.4

[2021-01-28 10:58] hsluoyz commented on #130
@shy1st plz take a look.

[2021-02-02 06:38] shreyasGit commented on #128
this is not fixednow i get following error
Exception in thread "main" java.lang.ClassCastException: org.casbin.adapter.JdbcAdapter cannot be cast to org.casbin.jcasbin.persist.file_adapter.FilteredAdapter
	at org.casbin.jcasbin.main.CoreEnforcer.loadFilteredPolicy(CoreEnforcer.java:241)
	at com.sas.mkt.example.controller.DumpDataUtil.main(DumpDataUtil.java:58)

	  if (adapter instanceof org.casbin

[2021-02-02 06:50] shy1st commented on #128
@shreyasGit Would you mind show me your code of how you create the JdbcAdapter?

[2021-02-03 15:06] #130 closed

[2021-02-05 06:24] hsluoyz commented on #128
ping @shreyasGit

[2021-02-06 02:14] hsluoyz opened #132 "Add keyGet() and keyGet2() functions to jCasbin"
StackOverflow question: https://stackoverflow.com/questions/66046585/casbin-user-may-only-call-path-with-their-own-username/66049093?noredirect=1#comment116801013_66049093

Go code: https://github.com/casbin/casbin/pull/675

[2021-02-07 13:04] hsluoyz commented on #128
@shreyasGit @shy1st I think I found the cause.

The latest version of casbin-spring-boot-starter was released 15 days ago: https://github.com/jcasbin/casbin-spring-boot-starter/releases/tag/0.0.11

However, latest jCasbin was released 10 days ago: https://github.com/casbin/jcasbin/releases/tag/v1.6.4

So we need to update casbin-spring-boot-starter's POM dependency to use jCasbin v1.6.4. @shy1st c

[2021-02-07 13:09] shy1st commented on #128
@hsluoyz yes,I can.

[2021-02-09 08:58] shy1st commented on #128
@hsluoyz Please see: https://github.com/jcasbin/casbin-spring-boot-starter/pull/26

[2021-02-09 13:18] hsluoyz commented on #128
@shy1st merged, plz make a new release of https://github.com/jcasbin/casbin-spring-boot-starter

[2021-02-10 05:46] #132 closed

[2021-02-10 06:01] shy1st opened #134 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-10 06:03] hsluoyz commented on #134
@shy1st it seems that github is released: https://github.com/casbin/jcasbin/releases/tag/v1.7.0

I assume Maven is failing?

[2021-02-10 06:17] hsluoyz commented on #128
@shreyasGit can you see if v0.0.12 fixed this issue? https://github.com/jcasbin/casbin-spring-boot-starter/releases/tag/0.0.12

[2021-02-10 11:22] #134 closed

[2021-02-10 11:24] shy1st opened #136 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-11 03:30] shy1st commented on #128
The v0.0.12 of the casbin-spring-boot-starter had released in the maven repository.

[2021-02-11 06:37] #128 closed

[2021-02-11 08:33] shy1st commented on #136
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-11 08:38] shy1st commented on #136
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-11 08:44] shy1st commented on #136
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-11 08:54] shy1st commented on #136
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-11 09:02] shy1st commented on #136
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-11 09:12] shy1st commented on #136
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-11 09:18] shy1st commented on #136
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-11 09:46] shy1st commented on #136
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-11 09:54] #136 closed

[2021-02-11 09:55] shy1st opened #137 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-11 09:59] shy1st commented on #137
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-11 10:07] shy1st commented on #130
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-11 10:07] shy1st commented on #132
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-11 10:08] #137 closed

[2021-02-11 10:22] shy1st commented on #130
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-11 10:22] shy1st commented on #132
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-11 10:34] shy1st opened #138 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-11 10:50] shy1st commented on #138
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-11 10:59] shy1st commented on #132
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-11 10:59] shy1st commented on #130
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-11 10:59] #138 closed

[2021-02-11 11:03] shy1st opened #139 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-11 12:29] shy1st commented on #132
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-11 12:29] shy1st commented on #130
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-11 12:29] #139 closed

[2021-02-12 06:25] shy1st opened #140 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-12 06:50] shy1st commented on #132
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-12 06:50] shy1st commented on #130
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-12 06:51] #140 closed

[2021-02-12 07:36] shy1st opened #141 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-12 09:13] shy1st commented on #132
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-12 09:13] shy1st commented on #130
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-12 09:13] #141 closed

[2021-02-12 09:18] shy1st opened #142 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-12 09:48] shy1st commented on #132
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-12 09:48] shy1st commented on #130
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-12 09:48] #142 closed

[2021-02-13 02:16] hsluoyz opened #143 "Rename all "jcasbin"s to "casbin" except this GitHub repo name"
We will rename to "casbin" for everywhere including the Maven package manager, except this GitHub repo name to differentiate with Go's Casbin.

[2021-02-14 04:33] shy1st opened #144 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-14 04:47] shy1st commented on #132
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-14 04:47] shy1st commented on #130
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-14 04:47] #144 closed

[2021-02-14 05:09] shy1st commented on #143
The following project does not use "casbin" for groupId config.

1. vertx-casbin
2. jfinal-authz
3. jcasbin-nutz-plugin
4.jcasbin-springboot-plugin
5.jfinal-demo

[2021-02-17 10:03] uPagge opened #145 ""ABAC with policy rule" doesn't work"
I have a policy like this, in the editor it works

![изображение](https://user-images.githubusercontent.com/40397740/108187945-10d1a900-7120-11eb-84df-8fe5a2fa418d.png)

But in java it refuses to work

![изображение](https://user-images.githubusercontent.com/40397740/108188272-732aa980-7120-11eb-9e43-e2e769b579dc.png)

![изображение](https://user-images.githubusercontent.com/40397740/108187825-f26

[2021-02-17 11:53] hsluoyz commented on #145
@shy1st please take a look.

[2021-02-18 02:57] shy1st commented on #145
I think there is something wrong with the way you use it.You should create a class and then create a property named "name" in the class and ensure that the class has the "Name" attribute of the get method and to ensure that the access permissions of this class and this property are "public". Then calling the enforce method of Enforcer, the first parameter is an instantiated object of this class. P

[2021-02-18 06:35] uPagge commented on #145
@shy1st I tried your example and everything turned out in a separate file. But as soon as I returned to Spring Boot it stopped working.

![изображение](https://user-images.githubusercontent.com/40397740/108315505-90b54d00-71cc-11eb-9793-f0f1f244a773.png)

[2021-02-18 06:45] uPagge commented on #145
@shy1st I think I found what the problem is. The entity I'm using has lazy initialized fields. And apparently because of them this problem occurs. I created another entity with only one Name field in the Srpting Boot project I wrote about above and it worked. But it's very sad how to do without lazy fields.

[2021-02-18 07:47] shy1st commented on #145
You can try to wake up this fields before using enforcer method.Maybe you can call one method of the field(try to use the field) to initial the field.Do you think it's alright? @uPagge

[2021-02-21 21:11] The28AWG opened #146 "I propose to abandon BeanShell in the implementation of the eval function."
BeanShell does not perform well in a multithreaded environment.
I tried to stress test the eval function, I was wondering how it would behave under heavy load. For this I used the script https://github.com/rodrigorodrigues/quarkus-vs-springboot-reactive-rest-api/blob/master/naive-stress-test.sh
At some point, the interpreter starts to crash and many errors appear in the console:

	Caused by: java.

[2021-02-22 00:17] shy1st commented on #146
Thank you for your suggestion, we will improve it.

[2021-02-24 06:21] shy1st commented on #146
@The28AWG Sorry, I have some problems with janino.Suppose I want to execute the "r. get ("sub). age", when compiling this statement with expressionEvaluator, it will appear the error, which context is "java.lang.object" has no field "age".Exactly,
the return type of "r.get("sub)" statement is "Object"，so it has no field "age" is reasonable.So it failed to compile.Maay I ask you what you think abou

[2021-02-24 08:20] The28AWG commented on #146
The problem arises from the fact that you modify the expression before sending it to the interpreter. Just change the expression to something else.
[code]

[2021-02-24 08:36] The28AWG commented on #146
r.get ("sub").age does not exist. The expression is simply converted thanks to this code:
https://github.com/casbin/jcasbin/blob/d46d1a0bb63c984b3aa898732fc5045c005522de/src/main/java/org/casbin/jcasbin/util/BuiltInFunctions.java#L389-L393

[2021-02-24 14:35] shy1st commented on #146
![QQ图片20210224223444](https://user-images.githubusercontent.com/34126552/109015843-84f7e800-76f0-11eb-89ca-f424a631b644.png)
@The28AWG Here is my code, you can see I used this code.

[2021-02-24 15:10] The28AWG commented on #146
Map<String, Object> env contains r_* fields and p_* name fields.
you need replace code:
[code]
to:
[code]
And initialize parameterNameList, parameterValueList and parameterClassList:
[code]

[2021-02-24 16:08] The28AWG commented on #146
This is due to the stricter set of code in janino. See http://janino-compiler.github.io/janino/ :

[2021-02-25 08:00] shy1st commented on #146
@The28AWG Thank you very much for your advice!

[2021-02-27 02:01] hsluoyz opened #149 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-27 02:18] hsluoyz commented on #149
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-27 02:32] hsluoyz commented on #149
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-27 08:03] hsluoyz commented on #149
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-27 13:58] hsluoyz commented on #149
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-27 14:05] hsluoyz commented on #132
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-27 14:05] #149 closed

[2021-02-27 14:34] #146 closed

[2021-02-27 14:56] hsluoyz commented on #132
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-27 15:19] hsluoyz commented on #146
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-27 15:19] hsluoyz commented on #132
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-28 02:38] hsluoyz commented on #132
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-28 13:22] hsluoyz opened #150 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-28 13:28] hsluoyz commented on #150
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-28 13:33] hsluoyz commented on #150
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-28 13:39] hsluoyz commented on #150
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-28 13:46] hsluoyz commented on #150
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-28 13:59] hsluoyz commented on #150
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-03-01 01:38] hsluoyz commented on #150
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-03-01 08:12] hsluoyz commented on #150
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-03-01 08:53] hsluoyz commented on #150
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-03-01 09:04] hsluoyz commented on #150
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-03-01 11:23] hsluoyz commented on #150
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-03-01 11:38] hsluoyz commented on #150
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-03-02 02:33] hsluoyz commented on #150
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-03-02 02:42] hsluoyz commented on #150
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-03-03 01:52] hsluoyz commented on #150
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-03-03 06:38] hsluoyz commented on #150
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-03-03 06:46] hsluoyz commented on #150
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-03-03 07:06] hsluoyz commented on #150
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-03-03 07:16] hsluoyz commented on #150
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-03-03 07:30] hsluoyz commented on #132
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.0)
- `v1.7.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-03 07:30] #150 closed

[2021-03-03 08:05] shy1st commented on #145
@uPagge We use janino instead of beanShell to implement eval function of BuiltInFunctions in jcasbin v1.7..It's possible that your problem has solved.Please try again and let us know if you still have problems.

[2021-03-03 10:29] hsluoyz commented on #145
@uPagge plz check if it's fixed in latest v1.7.1: https://github.com/casbin/jcasbin/releases/tag/v1.7.1

[2021-03-03 19:29] dgrnbrg opened #152 "What is the status of polyglot casbin projects?"
Hello, I've read through the documentation on casbin.org, but I can't find concrete information about polyglot projects. Are the postgres database formats compatible between Python, Java, and Go?

Can I use Casdoor or another Admin Portal from casbin.org as a mechanism to configure permissions?

My group develops primarily on the JVM, but we use Python and Rust at times. It looks like Casbin would

[2021-03-04 02:58] hsluoyz commented on #152
Hi @dgrnbrg

Yes, all Casbin adapters should follow the same data format, including default table name, column names. If you find any adapter doesn't follow the same behavior, please tell us and we will fix it.

Yes. Casdoor is the current recommendation for permision management.

If you have any other issues, please tell us, thanks!

[2021-03-04 04:55] Zxilly commented on #143
Reserve current version jCasbin, and make further update in the Casbin may be a good idea.

[2021-03-04 08:34] hsluoyz commented on #143
@Zxilly what do you mean?

[2021-03-04 08:42] Zxilly commented on #143
@hsluoyz Keep this version of `jCasbin` for compatibility with other module, but no longer develop on this.
But create a new repository named `casbin` ,and make further contribution on that.

[2021-03-04 08:44] hsluoyz commented on #143
@Zxilly the github repo doesn't matter. The commits remain anyway. I'm talking abou the Maven central. We will freeze the new versions under jcasbin and release new versions with casbin.

[2021-03-04 08:45] hsluoyz commented on #143
@shy1st I don't know how Maven Central treats such a situation. Is Casbin a new package than jCasbin?  If yes, then we are releasing new package.

[2021-03-04 08:51] Zxilly commented on #143
Yes, that's what I mean. There will 2 packages exist at same time

[2021-03-04 08:54] shy1st commented on #143
Yes, that's what I mean. There will be 2 packages exist at same time

[2021-03-04 08:56] hsluoyz commented on #143
@shy1st In the Java side (code, etc.), there should be only "casbin", there's no "jcasbin". "jcasbin" is only used in this repo name and also in Casbin official website.

[2021-03-04 09:09] shy1st commented on #143
@hsluoyz I think this is mainly reflected in the setting of groupid in POM files. In some projects, the groupid is set as org.jcasbin(eg:vertx-casbin), which is incorrect. This will cause an exception when published to the central repository(In fact, vertx-casbin has not published to the central repository）.

[2021-03-04 09:16] hsluoyz commented on #143
@shy1st good, then fix those wrong group IDs.

[2021-03-04 20:31] doodleincode opened #154 "FilteredAdapter not casting to correct type"
In `CoreEnforcer.loadFilteredPolicy(...)` the adapter type cast is not casting to the correct type. It's casting to `org.casbin.jcasbin.persist.file_adapter.FilteredAdapter` not `org.casbin.jcasbin.persist.FilteredAdapter`. However, the type check is checking for the correct type, but then results in a cast exception because it's actually trying to cast to an incompatible type.

Not entirely sure

[2021-03-07 07:43] #154 closed

[2021-03-07 07:43] hsluoyz commented on #128
@shreyasGit fixed in: https://github.com/casbin/jcasbin/pull/153

[2021-03-08 01:33] hsluoyz opened #156 "Add the missing GitHub Actions badges for jCasbin active repos"
Some of Casbin projects have switched from Travis CI to GitHub Actions, but no matter whether the switch is done, we usually have a badge for it (before code coverage badge). We should add it if it's missing. See some examples for GitHub Actions CI badge:

1. https://github.com/php-casbin/php-casbin
2. https://github.com/casbin/node-casbin
3. https://github.com/casbin/casbin-rs

![image](https://u

[2021-03-08 01:39] hsluoyz commented on #156
@shy1st

[2021-03-08 04:21] Kininaru commented on #143
trying to work on this

[2021-03-08 05:38] hsluoyz commented on #143
@shy1st , let me introduce @Kininaru , @Kininaru is our technical writer for Casbin docs & website. He also has some interest in languages like C++, Java, etc., so he will hang around our repos. Hope @Kininaru can be a help for you!

[2021-03-08 06:03] shy1st commented on #143
@Kininaru  Welcome!

[2021-03-08 06:04] shy1st commented on #143
@Kininaru @hsluoyz I think all the project in jcasbin organization has renamed. Now we can close this issue.

[2021-03-08 07:01] hsluoyz commented on #143
Great!

[2021-03-08 07:01] #143 closed

[2021-03-08 09:53] #156 closed

[2021-03-10 06:42] young-zy opened #158 "Question: Is there a way to escape comma in policy rule?"
Hi,

I noticed that jcasbin is using [aviator](https://github.com/killme2008/aviator) as its evaluator,
and I'm trying to use some of its builtin functions ( to be specific, function "include" ) which takes in more than one parameter (so there will be comma in expression).

If the expression is written in matcher, everything works fine.
But if It is written in policy rule, the parser is unhappy an

[2021-03-10 06:43] hsluoyz commented on #158
@shy1st

[2021-03-11 06:28] divyagar opened #159 "No description of policy in policy class"
While going through code I noticed that every class is given a description For example `Assertion` class is given description:
[code]
But `Policy` class is not given any description.

[2021-03-11 08:43] #159 closed

[2021-03-11 11:45] lanmarti opened #162 "getImplicitRolesForUser fails if user has no explicitly assigned roles"
I don't know if this is intended behaviour or a bug, but when using getImplicitRolesForUser for a user that has no roles assigned, but does have explicit permissions, an error is thrown by the role manager.
As getImplicitPermissionsForUser uses this method as well, that one will also fail for a user that does not have any roles.
[code]
Assigning any random role to the user results in getting the p

[2021-03-11 11:51] hsluoyz commented on #162
@shy1st

[2021-03-11 14:23] divyagar opened #165 "Failed to load class "org.slf4j.impl.StaticLoggerBinder"."
While running basic permission checking code provided in tutorial:
[code]
compiler is showing following error followed by result of above code:
[code]

[2021-03-11 15:55] hsluoyz commented on #159
:tada: This issue has been resolved in version 1.7.3 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.3)
- `v1.7.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-11 15:56] hsluoyz commented on #156
:tada: This issue has been resolved in version 1.7.3 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.7.3)
- `v1.7.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-12 06:44] shy1st commented on #165
please add the following dependency.
`        <dependency>
            <groupId>org.slf4j</groupId>
            <artifactId>slf4j-simple</artifactId>
            <version>${slf4j.version}</version>
            <scope>test</scope>
        </dependency>`

[2021-03-12 13:37] #162 closed

[2021-03-12 14:25] hsluoyz commented on #165
@shy1st can we fix this warning for users don't use slf4j?

[2021-03-12 14:49] divyagar commented on #165
@hsluoyz Can we add dependency of slf4 in installation section as a requirement to make user aware that this library is being used in jcasbin?

[2021-03-13 10:20] hsluoyz commented on #152
Closed as resolved.

[2021-03-13 10:20] #152 closed

[2021-03-13 11:20] hsluoyz commented on #145
Closed as resolved.

[2021-03-13 11:20] #145 closed

[2021-03-13 11:23] hsluoyz commented on #105
Done: https://github.com/jcasbin/vertx-authz

[2021-03-13 11:23] #105 closed

[2021-03-15 08:47] #165 closed

[2021-03-25 06:17] mango-6bd opened #169 "Can support dynamic matching?"
Can support dynamic matching?

[2021-03-25 10:14] hsluoyz commented on #169
We should add the `EnforceWithMatcher()` API: https://casbin.org/docs/en/management-api#enforcewithmatcher

[2021-03-25 10:14] hsluoyz commented on #169
@shy1st

[2021-03-25 10:53] shy1st commented on #169
OK, I will complete this requirement in the next few days

[2021-04-01 06:57] arti0798 commented on #158
I m on it.

[2021-04-01 12:20] arti0798 commented on #158
I had tried to run this but its shows error 'ERROR 21647 --- [enerContainer-1] o.s.d.r.l.RedisMessageListenerContainer : Connection failure occurred. Restarting subscription task after 5000 ms'

[2021-04-01 12:21] arti0798 commented on #158
will you please help me on this?

[2021-04-01 12:29] shy1st commented on #158
@arti0798 It may be caused by the failure of redis connection.Can you tell me why you use redis?The pom.xml of jcasbin has no dependency about redis.

[2021-04-01 12:32] arti0798 commented on #158
I haven't use redis..it is already there and there is no pom file....actually there is application.yml file

[2021-04-01 12:37] shy1st commented on #158
@arti0798 I guess you're using casbin-spring-boot-starter, please replace the redis configuration with your own.about caspin spring boot starter.

[2021-04-01 12:39] arti0798 commented on #158
okay, I will try.

[2021-04-01 16:03] shink commented on #158
Hello, can I help you? I will try my best.

[2021-04-02 01:32] fangzhengjin commented on #158
I think this is nothing relationship with Casbin-Spring-Boot-Starter. In Casbin-Spring-Boot-Starter, you need to actively introduce Redis dependencies and enable REDIS-WATCH configuration. If you do not explicitly enable Redis-Watch, it will not be automatically Enable Redis-Watch.
Please check if you introduce Redis dependencies and configure the Redis connection correctly.

[2021-04-02 01:39] hsluoyz commented on #158
@arti0798 please open a new issue for your Redis problem. This issue is only for resolving the issue for @young-zy

[2021-04-02 01:40] hsluoyz commented on #158
@shy1st plz focus on and help resolve the initial issue: `Question: Is there a way to escape comma in policy rule?`

[2021-04-02 02:41] shy1st commented on #158
@hsluoyz As we talked before, if we use / to escape a comma, we need to distinguish whether the current adapter is a fileadapter. If it is a fileadapter, we can use / to escape a comma. But we can't get adapter information in other functions which use the splitCommunadelimited function.For example:
[code]

I have another idea. we can change like this:
[code]
In this way, you need to make sure that

[2021-04-02 05:31] hsluoyz commented on #158
@shy1st we can add a new function called `loadPolicyLineForFile()`, this function will do the job and the built-in file adapter will use this one.

[2021-04-02 06:31] arti0798 commented on #158
@fangzhengjin I had already tried dependencies but that's not working.

This is what I had tried -
  1.  //implementation 'org.casbin:casbin-spring-boot-starter:version'
  2.  // implementation 'org.springframework.boot:spring-boot-starter-data-redis:2.2.0.RELEASE'
  3.  // implementation 'redis.clients:jedis:2.8.0'
   4.  // implementation group: org.springframework.boot
        // name: spring-b

[2021-04-02 06:33] arti0798 commented on #158
@shink  Thanks!  I had already mention the problem.

[2021-04-02 06:33] arti0798 opened #170 "@arti0798 please open a new issue for your Redis problem. This issue is only for resolving the issue for @young-zy"
@arti0798 please open a new issue for your Redis problem. This issue is only for resolving the issue for @young-zy

_Originally posted by @hsluoyz in https://github.com/casbin/jcasbin/issues/158#issuecomment-812269848_

[2021-04-02 06:37] young-zy commented on #158
@fangzhengjin @shy1st

[2021-04-02 07:17] shy1st commented on #158
Do you mean to add "" to a word to escape comma, such as "Alice, Bob"?
As for the array, we can import policy through list.

[2021-04-02 07:29] young-zy commented on #158
@shy1st
Yep

Also:

[2021-04-02 08:00] arti0798 commented on #158
@shy1st
or we can do this s.split(", (?=\\w+=)")
Which says split on each ", " which is followed by some word-characters and an =

[2021-04-02 08:23] shy1st commented on #158
Did you have a try？I had a try and it can not pass the test

[2021-04-02 08:26] arti0798 commented on #158
@shy1st  I m still having that Redis problem...that's why I havn't try but that might work.

[2021-04-02 09:31] arti0798 commented on #158
please someone help me on this.

[2021-04-02 09:41] fangzhengjin commented on #158
Can you provide a code repository that can be reproduced?

---Original---
From: "Arti ***@***.***&gt;
Date: Fri, Apr 2, 2021 17:31 PM
To: ***@***.***&gt;;
Cc: "ZhengJin ***@***.******@***.***&gt;;
Subject: Re: [casbin/jcasbin] Question: Is there a way to escape comma in policy rule? (#158)

@fangzhengjin I had already tried dependencies but that's not working.

This is what I had tried -

//implem

[2021-04-02 09:43] fangzhengjin commented on #170
Can you provide a code repository that can be reproduced?

[2021-04-02 09:47] arti0798 commented on #170
plugins {
    id 'org.springframework.boot' version '2.3.5.RELEASE'
    id "com.jfrog.bintray" version "1.8.4"
    id 'java'
}

apply plugin: 'io.spring.dependency-management'
apply from: "maven.gradle"
apply from: "bintray.gradle"
apply from: "jacoco.gradle"

group = 'org.casbin'
version VERSION_CODE
sourceCompatibility = '1.8'
compileJava.options.encoding = 'UTF-8'

bootJar.enabled = false
jar.e

[2021-04-02 09:53] fangzhengjin commented on #170
Are you trying to start casbin-spring-boot-starter directly?

[2021-04-02 09:54] arti0798 commented on #170
yes I did.

[2021-04-02 09:58] fangzhengjin commented on #170
[CasbinSpringBootStarterApplicationTest](https://github.com/jcasbin/casbin-spring-boot-starter/blob/e84a5d8613f7703f31ae50ca797c30b54b312f11/src/test/java/org/casbin/CasbinSpringBootStarterApplicationTest.java) is this file?

[2021-04-02 09:59] arti0798 commented on #170
yes

[2021-04-02 10:00] fangzhengjin commented on #170
Casbin-spring-boot-starter does not provide a startup class because it does not support direct startup, and it needs to be introduced into the actual project to run.
This file is used for testing, it will test redis-watch, so it needs to connect redis.

[2021-04-02 10:01] fangzhengjin commented on #170
@hsluoyz Can we move this issues to casbin-spring-boot-starter?

[2021-04-02 10:02] arti0798 commented on #170
Then how should anyone will start the application?

[2021-04-02 10:04] fangzhengjin commented on #170
Introduce dependencies into your project.
`implementation 'org.casbin:casbin-spring-boot-starter:version'`
The specific configuration can be seen here: https://github.com/jcasbin/casbin-spring-boot-starter

[2021-04-02 10:06] arti0798 commented on #170
yeah! I had already tried.
But then also I got the same error.

[2021-04-02 10:07] arti0798 commented on #170
here checkout.

[2021-04-02 13:23] hsluoyz commented on #158
@arti0798 hi, please stop talking about Redis issue in this thread, use a new issue for your topic. Thanks!

[2021-04-02 13:26] hsluoyz commented on #158
Your words inspired me. @shy1st is there any popular CSV parsing library for Java? We should use such a library instead of using our own home-made parsing code. Using such a lib will offer all the CSV escaping schemes.

[2021-04-02 14:44] fangzhengjin commented on #170
Can you provide a code repository that can reproduce this issue?

[2021-04-02 14:49] hsluoyz commented on #170
It can't be done. They are in different orgs (casbin v.s. jcasbin).

@arti0798 please send issue to: https://github.com/jcasbin/casbin-spring-boot-starter/issues

This one is closed.

[2021-04-02 14:49] #170 closed

[2021-04-04 14:06] shy1st commented on #158
@hsluoyz  I think this idea is good. I wrote an implementation for this idea

[2021-04-05 20:00] barnesm999 opened #172 "How to implement WatcherEx when using an Adaptor"
I am trying to understand the expectation for an implementation of WatcherEx.

My understanding so far is that if I create a WatcherEx implementation, Enforcer methods like `addPolicy` will invoke my WatcherEx with specific policy changed information instead of just the generic update. I will then emit a message containing that information so other instances of my application can receive that mess

[2021-04-06 12:58] hsluoyz commented on #172
@shy1st

[2021-04-07 07:13] shy1st commented on #172
You can refer to the example of rediswatcher in casbin-spring-boot-starter.
https://github.com/jcasbin/casbin-spring-boot-starter/blob/master/src/main/java/org/casbin/watcher/RedisWatcher.java

[2021-04-07 12:18] barnesm999 commented on #172
@shy1st

The `RedisWatcher` only implements `Watcher`, not `WatcherEx`. That implementation still causes a reload of the entire casbin rule data set when a message is received.

What I am hoping to achieve is to implement `WatcherEx` interface which if I understand the casbin docs should help avoid entire reloads and instead be able to just update based on what changed.

I have partially implement

[2021-04-08 02:46] mango-6bd opened #173 "Can priority matching be supported?"
https://casbin.org/docs/en/priority-model

[2021-04-08 03:23] hsluoyz commented on #173
@shy1st

[2021-04-11 14:14] shink commented on #173
I'm on it.

[2021-04-13 09:15] lanmarti opened #174 "GetImplicitPermissionsForUser only takes into account subject grouping"
Would it be feasible to extend this method so it takes into account any grouping, not just the subject grouping?
e.g. with the following model:
[code]
getImplicitPermissionsForUser will take into account g, but not g2 or g3.

[2021-04-13 14:14] hsluoyz commented on #174
@shy1st

[2021-04-15 16:07] hsluoyz commented on #169
@shink

[2021-04-15 16:10] shink commented on #169
Ok, I will do it.

[2021-04-17 01:20] hsluoyz commented on #174
@shink

[2021-04-17 01:23] shink commented on #174
OK, I'll do it in a few days.

[2021-04-17 10:25] #173 closed

[2021-04-17 10:29] hsluoyz commented on #165
:tada: This issue has been resolved in version 1.8.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.8.0)
- `v1.8.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-17 10:51] hsluoyz commented on #172
@barnesm999 I know what you mean. You want to know how to change other Casbin instances without triggering another watcher message. Actually that part is still not decided, as our WatchEx example code doesn't contain that: https://github.com/casbin/casbin/blob/2d182bff5bee483918ccb8316e564102dee7e794/watcher_ex_test.go#L27-L40

But we already start building the official Redis watcher (WatchEx) in

[2021-04-17 10:51] #172 closed

[2021-04-19 11:43] #158 closed

[2021-04-19 11:49] hsluoyz commented on #158
:tada: This issue has been resolved in version 1.8.1 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.8.1)
- `v1.8.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-19 12:54] hsluoyz commented on #169
@shink @shy1st any progress?

[2021-04-19 13:02] shink commented on #169
I' m debugging.
BTW, should I use [this](https://github.com/casbin/casbin/blob/380ee0f0d17cf2eed3e97b2069e6a0ee9502d8ac/enforcer_test.go#L204) for testing?

[2021-04-19 13:05] hsluoyz commented on #169
@mango-6bd can you state your requirement more specifically?

[2021-04-19 13:10] shink opened #177 "Using priority-model Won't get any implicit permission"
- issue: [[Bug]Using priority-model Won't get any implicit permission](https://github.com/casbin/casbin/issues/762)
- pr: [fix: priority using non 1st element](https://github.com/casbin/casbin/pull/766)

This problem also exists in jcasbin. Do we need to fix it? I am willing to do it.

[2021-04-19 13:17] hsluoyz commented on #174
We should add an optional `ptype` parameter to the `getImplicitPermissionsForUser()` API.

If the arg is not provided, then default `g`, but user can specify it to `g2`, `g3`, etc.

[2021-04-19 14:05] lanmarti commented on #174
Would this be limited to one ptype at a time, or would we be able to specify multiple groupings at once? In my specific case, the latter would be preferred, but I have no clue if this is realistic.

[2021-04-19 14:27] hsluoyz commented on #177
@shink no need for now. There are already a lot of Java issues now: https://github.com/orgs/casbin/projects/2#column-12165804 Please fix them first and then come back to this.

[2021-04-19 14:28] hsluoyz commented on #174
@lanmarti why you want to specify multiple groupings at once?

[2021-04-19 14:31] shink commented on #177
OK, I will.

[2021-04-19 14:49] lanmarti commented on #174
We have a bit of a complex setup, but basically: a subject belongs to one or more teams (g), these teams are given a set of permissions on specific objects, these objects might themselves be supersets of other objects.
So given an action allowed by team 1 on objectGroup1 should allow team member A to perform that action on object X.

[code]
[code]
Ideally, `getImplicitPermissionsForUser(lanmarti)`

[2021-04-20 01:14] hsluoyz commented on #174
@lanmarti currently `getImplicitPermissionsForUser()` API only supports retrieving the implicit permissions from the subject grouping (g), it doesn't support object grouping (g2) at the same time.

We can choose to add that support but why don't you consider using the `BatchEnforce()` API here: https://casbin.org/docs/en/data-permissions ? It's more powerful as it utilizes all matcher powers.

[2021-04-20 09:02] lanmarti commented on #174
The reason we're looking at `getImplicitPermissionsForUser()` is because we don't have the objects readily at hand. We have a subject and a specific permission, and wish to know on what objects the user has that permission.

If `getImplicitPermissionsForUser()` would not support multiple groupings at a time, we see two different options:
1. Our security provider iterates over all groupings and bui

[2021-04-20 13:52] hsluoyz opened #179 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-04-21 15:50] #177 closed

[2021-04-21 15:59] hsluoyz commented on #179
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-04-22 02:17] hsluoyz commented on #177
:tada: This issue has been resolved in version 1.8.3 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.8.3)
- `v1.8.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-22 02:18] #179 closed

[2021-04-23 03:19] shink commented on #169
I think we should add an optional `matcher` parameter to the `enforce()` API and define serveral different matchers to test it.
I will finish it as soon as possible.

[2021-04-23 03:42] hsluoyz commented on #169
@shink see how Goland implements it.

[2021-04-23 03:51] shink commented on #169
@hsluoyz OK, I will. Casbin is implemented in the above way. BUT it doesn't seem to test the [enforceWithMatcher](https://github.com/casbin/casbin/blob/68bec4fd804ec3b25940bec067e088b236fe7284/enforcer.go#L637) function.

[2021-04-23 09:50] hsluoyz commented on #169
Closed as stale.

[2021-04-29 18:54] rachnaaggarwal opened #183 "eval() doesn't work for java.util functions, need to switch from bsh to aviator"
Hello,
I am trying to do a POC on using ABAC via "jcasbin" and I am facing an issue related to the "eval" function. The eval function in the jcasbin library prior to the 1.7.1 version allowed using java expressions whereas a change was added in version 1.7.1 (https://github.com/casbin/jcasbin/compare/v1.7.0...v1.7.1) which broke this functionality. When I used "casbin-spring-boot-starter" dependen

[2021-04-30 12:37] hsluoyz commented on #183
@shy1st @shink

[2021-04-30 14:16] shy1st commented on #183
Do you mind providing entity class code related to it? This may be more convenient to debug for me. @rachnaaggarwal

[2021-04-30 14:53] hsluoyz commented on #183
@shy1st I think @rachnaaggarwal means:

`\"test\".equals(r.sub) && java.util.regex.Pattern.compile(\"/*/url1/url2/*\", java.util.regex.Pattern.CASE_INSENSITIVE).matcher(r.obj).find()`

will be processed into:

`"test1".getEquals(r_sub)() && java.getUtil().getRegex().getgetPattern()().getCompile("/*/approve/expense/*",() java.getUtil().getRegex().getgetPattern()().getCASE_INSENSITIVE)().getMatcher(

[2021-04-30 14:57] rachnaaggarwal commented on #183
@shy1st
Please find attached the zip file "abacPOCWithCasbin.zip" for the Spring Boot POC using jcasbin. The build.gradle in the zip includes the jcasbin 1.6.4 library since it defaults to the one included by casbin-spring-boot-starter. When you will run the application and will access the following "GET" URL:
`http://localhost:8080/test/approve/expense/2?subject=test1`

You would see the result a

[2021-05-01 02:17] hsluoyz commented on #183
@shy1st plz take a look.

[2021-05-03 14:11] rachnaaggarwal opened #184 "jcasbin | Error due to double quotes in Policy Definition"
Hello,
I am trying to do a POC on using ABAC via "jcasbin" and I am facing an issue related to the CSV Parsing of the policy. I am using the 1.8.1 version where the CSV Parser logic was changed (#158). My policy includes double quotes and CSV Parser is failing with the following error:
`java.io.IOException: (line 1) invalid char between encapsulated token and delimiter`

Here is the policy file:
`

[2021-05-03 14:18] rachnaaggarwal commented on #183
I wanted to add here that I have created another issue (#184) for the original issue that I was facing with CSV parsing since I thought they are separate ones.

[2021-05-03 14:53] shy1st commented on #184
@rachnaaggarwal This is our problem,but it is easy to solve. When I solve this issue #183 , I will solve it by the way.Do you think that's ok?

[2021-05-03 15:07] rachnaaggarwal commented on #184
@shy1st Yes, that is perfectly fine!

Thanks,
Rachna

[2021-05-03 20:22] imochurad opened #185 "Retrieve all objects for subject with particular action"
I am checking java API and I do not seem to find a way to fetch all objects of a particular type that a user has access to.

Say, I am implementing an API (not necessarily a REST-based) that is supposed to return a list of all entities the user has read access to.

What jcasbin API call would that be?

I am looking into Enforcer interface and it seems to check whether a user (subject) can do a par

[2021-05-04 01:24] hsluoyz commented on #185
@imochurad see: https://casbin.org/docs/en/data-permissions

[2021-05-04 02:04] imochurad commented on #185
I am sorry, I have been to the link above, but the APIs that you have mentioned do help much.

For this command:
[code]
the output is:
[code]
There is no mention of `c1` and `c2`.

[2021-05-04 02:04] imochurad commented on #185
@hsluoyz see above ^

[2021-05-04 02:22] shy1st commented on #184
@rachnaaggarwal Sorry, there may be some problems with what I said before. This may not be our problem. Please add a space to “p," like this:

[2021-05-04 03:03] rachnaaggarwal commented on #184
@shy1st adding a space worked!

Thanks,
Rachna

[2021-05-04 03:06] hsluoyz commented on #184
@shy1st why need to add space? I think that line without space is still valid CSV?

[2021-05-04 03:08] hsluoyz commented on #185
What do you expect?

[2021-05-04 09:05] lanmarti opened #186 "Groups are not isolated"
As mentioned in https://github.com/casbin/casbin/issues/783 jCasbin does not seem to isolate different group systems, grouping items in one group system will result in them being grouped in any group system. See the original issue for examples.

Discovered in 1.7.4, confirmed in 1.8.4

[2021-05-04 11:55] shy1st commented on #186
Thanks a lot! Maybe solving this problem will also solve these problems: #185 #https://github.com/casbin/jcasbin/issues/174

[2021-05-04 13:02] imochurad commented on #185
Ok, I am using `rbac_with_resource_roles_model.conf` for model file and `rbac_with_resource_roles_policy.csv` as policy file.

[code]

[code]

Here is my test:

[code]

The output:

[[alice, data1, read], [data_group_admin, data_group, write]]

1. How do I retrieve all objects that the user has access to with `write` permission? The API above doesn't allow me to do it, it returns all permissions f

[2021-05-04 13:30] hsluoyz commented on #185
@imochurad use batchEnforce: https://casbin.org/docs/en/management-api#batchenforce

[2021-05-04 13:37] imochurad commented on #185
@hsluoyz could you please point me to the Java API? And, possibly, an example of how it is being used? I would really appreciate it.
I am really trying to adopt it, but documentation is lacking details.

[2021-05-04 13:46] hsluoyz opened #187 "Add batchEnforce() API for jCasbin"
Required in: https://github.com/casbin/jcasbin/issues/185#issuecomment-831947838 by @imochurad

See how Golang implemented it: https://github.com/casbin/casbin/search?q=batchEnforce&type=issues , Java can use a similar way.

[2021-05-04 13:47] hsluoyz commented on #185
@imochurad `batchEnforce()` is still not implemented in Java, we will do it soon. See: https://github.com/casbin/jcasbin/issues/187

[2021-05-04 13:48] hsluoyz commented on #185
Moved conversation to: https://github.com/casbin/jcasbin/issues/187

[2021-05-04 13:48] #185 closed

[2021-05-04 13:52] imochurad commented on #187
I would like to know a rough idea of when to expect this feature. Time is of the essence for me. And I will be either rolling out my own authorization framework or adopting jcasbin if this feature is complete and bug-free.

[2021-05-04 14:02] hsluoyz commented on #187
@shy1st @shink can you implement this feature ASAP?

[2021-05-05 08:48] #187 closed

[2021-05-05 08:48] hsluoyz commented on #187
@imochurad added: https://github.com/casbin/jcasbin/pull/188

[2021-05-05 12:33] hsluoyz commented on #186
@shy1st see: https://github.com/casbin/casbin/issues/783#issuecomment-832617046

[2021-05-07 15:31] hsluoyz commented on #184
We need to support space in .csv policy file.

[2021-05-08 03:40] hsluoyz commented on #184
@shy1st my bad. I mean we should support CSV without space. Plz send issue to Apache Commons for this question.

[2021-05-08 11:18] shy1st commented on #184
@hsluoyz I think this statement just doesn't follow the rules of CSV and doesn't need support.
![捕获](https://user-images.githubusercontent.com/34126552/117537221-2aed9a00-b032-11eb-9364-09d424de67d8.PNG)

[2021-05-08 16:14] hsluoyz commented on #184
@rachnaaggarwal your CSV line is invalid CSV. The following is correct:

[code]

https://stackoverflow.com/questions/17808511/properly-escape-a-double-quote-in-csv

`
RFC-4180, paragraph "If double-quotes are used to enclose fields, then a double-quote appearing inside a field must be escaped by preceding it with another double quote."
`

[2021-05-08 16:14] #184 closed

[2021-05-12 10:53] #169 closed

[2021-05-12 10:57] hsluoyz commented on #169
:tada: This issue has been resolved in version 1.9.0 :tada:

The release is available on:
- [GitHub release](https://github.com/casbin/jcasbin/releases/tag/v1.9.0)
- `v1.9.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-13 01:47] hsluoyz opened #190 "Use "github-actions" instead of my own GitHub username to send release notice"
See: https://github.com/casbin/jcasbin/pull/189#issuecomment-839677834

[2021-05-13 01:47] hsluoyz commented on #190
@shink

[2021-05-13 08:37] hsluoyz commented on #190
@closetool @shy1st @Zxilly any one of you has helped me solve a similar issue last week? I forgot it.

[2021-05-13 09:41] #190 closed

[2021-05-13 09:46] hsluoyz commented on #183
@shink

[2021-05-13 09:58] shink commented on #183
I'll do it.

[2021-05-13 11:43] shink opened #192 "Super administrator's authority is invalid when using priority matching"
### problem

When using the following configuration, two error occurs.

1. Super administrator's authority is invalid when using priority matching
2. When using an adapter such as `jdbcAdapter`, the first time the result was wrong, but everything is correct after that

### model

[code]

### policy

[code]

### request

[code]

[2021-05-13 11:46] shink commented on #192
@mango-6bd Please confirm whether the above is consistent with what you have described.

[2021-05-13 13:02] mango-6bd commented on #192
Yes,consistent

[2021-05-16 14:56] shink commented on #183
@hsluoyz @shy1st @rachnaaggarwal

I think this problem is caused by [the pattern](https://github.com/casbin/jcasbin/blob/00ae4873343b816339e3ed4f465f4f11281dfbb3/src/main/java/org/casbin/jcasbin/util/BuiltInFunctions.java#L39). Through this pattern, `equals`, `util`, `regex` etc. are recognized as attributes and changed to `getXXX()`.

For example, we need convert `user.age` to `user.getAge()` ins

[2021-05-17 09:42] hsluoyz commented on #183
@shink it's not hard to solve I think. You can first check if it's starting with with policy or request definition. For example, `r.sub.age` should be converted to `r.sub.getAge()`, because you know we have the following in model:

[code]

Similar for `p.sub.xxx()`.

If it's not the case, then it's Java's package path.

[2021-05-17 10:58] shink commented on #183
@hsluoyz Got it! I will do it.

[2021-05-19 15:40] hsluoyz commented on #183
We introduced `eval()` in PR: https://github.com/casbin/jcasbin/pull/85 , but it used bsh. But then we switched to janino. Now we decided to use aviator, just like how matcher is evaluated.

[2021-05-20 09:54] shink commented on #183
We fixed this bug and implemented the `eval` function using [aviator](https://github.com/killme2008/aviatorscript). However, aviator is powerful but does not support executing non-static Java methods.

[code]

So, I think we can add support for custom function, then  the complex policy like yours can be handled by function customed by user.
What do you think? @hsluoyz @rachnaaggarwal

[2021-05-21 15:18] rachnaaggarwal commented on #183
@shink To clarify, have you added the support for executing a custom function (including java functions) from within a policy, or have you added the support for executing java functions from within eval?

So, for example, can we now do the following from either eval or within policy?

java.util.regex.Pattern.compile(\"/*/url1/url2/*\", java.util.regex.Pattern.CASE_INSENSITIVE).matcher(r.obj).find(

[2021-05-22 03:45] shink commented on #183
@rachnaaggarwal

Now, I have added support for custom function. You can take a look at this [PR](https://github.com/casbin/jcasbin/pull/194).

Unfortunately, in this PR, the java code in policies will no longer be supported. Because I don't think there should be verbose java code in policies. However, you can create a custom function in [this way](https://github.com/shink/jcasbin/blob/60dd34800a6f

[2021-05-22 12:55] hsluoyz commented on #183
@rachnaaggarwal actually `java.util.regex.Pattern.compile("//url1/url2/", java.util.regex.Pattern.CASE_INSENSITIVE).matcher(r.obj).find()` this code is so tedious and it is not supposed to be Casbin grammar. And it will not be supported by other Casbin implementations. If we can support it, that's fine. But it's totally fine I think if we don't support it.

[2021-05-22 15:18] rachnaaggarwal commented on #183
Got it, thank you!

[2021-05-22 15:21] #183 closed

[2021-05-23 04:08] shink commented on #186
I'm on it.

[2021-05-26 13:03] hsluoyz commented on #174
@shink plz port the PR: https://github.com/casbin/casbin/pull/798 to Java.

[2021-05-26 13:05] shink commented on #174
@hsluoyz OK, I will do it right away.

[2021-05-29 08:29] Dzy-yubai commented on #192
Why did I measure correctly in the latest version of JCasbin

[2021-05-29 08:43] shink commented on #192
@Dzy-yubai I will confirm again.

[2021-05-29 08:44] hsluoyz commented on #192
@shink yeah, if there's no issue actually, we will close here.

[2021-05-29 09:07] shink commented on #192
@Dzy-yubai Thank you for your reminder.

@mango-6bd I tested it with the latest version of casbin(1.10.0), but this error did not appear. Please use the latest version of jcasbin to confirm.

[2021-05-29 09:07] #192 closed

[2021-05-31 12:27] Murthybhat opened #195 "enforcer.addGroupingPolicy"
I am trying to do a basic authorization by adding a policy and a grouping policy. However the api to addGroupingPolicy does not seem to work for me. Can someone help if there is an issue or am I doing something wrong.

**casbin version : 5.7.1**

[code]

[2021-05-31 12:29] shink commented on #195
@Murthybhat Are you using jcasbin?

[2021-05-31 12:31] hsluoyz commented on #195
No. I will move it to Node-Casbin

[2021-06-03 04:11] unchai opened #196 "build-in function 'keyMatcher2' is now working."
#### model.conf
[code]

#### policy.csv
[code]

#### Java code with spring-boot
[code]

#### Result
[code]

How can i use domain with pattern matching?

[2021-06-03 04:16] hsluoyz commented on #196
@shink @shy1st

[2021-06-03 04:35] shink commented on #196
I had the same problem :(
I will do it.

[2021-06-06 12:29] shink commented on #196
@hsluoyz @unchai

Should the correct result be like this?

[code]

If so, I think you can use domain with pattern matching in the following way.

[code]

Looking forward to your suggestions.

[2021-06-09 12:41] liulei3 opened #198 "fix: for Enforcer pass FilteredAdapter will load all policy"
fix: for Enforcer pass FilteredAdapter will load all policy and change unit test

[2021-06-09 12:50] shink commented on #198
@liulei3 Is this issue opened for #197 ?

[2021-06-09 12:52] #198 closed

[2021-06-12 13:35] #174 closed

[2021-06-12 13:38] hsluoyz opened #200 "Add github-actions bot to notify new releases"
See Go: https://github.com/casbin/casbin/issues/814#issuecomment-859533831

But there's no comment in our issue: https://github.com/casbin/jcasbin/issues/174

[2021-06-12 13:38] #200 closed

[2021-06-15 04:30] rongfengliang opened #201 "jcasbin setUpdateCallback callback should be like golang version"
current
jcasbin watcher setUpdateCallback callback with `Runnable interface`

[code]
golang:

[code]
maybe better like golang  support pass one arg (if we want   control how to deal with policy reload with  some special content )

[2021-06-15 11:58] shink commented on #201
@rongfengliang Very Cool!

But I think you can create a class which implements `Runable` interface and has a constructor with one parameter.

[code]

Then you can call `setUpdateCallback()` like this.

[code]

Looking forward to your suggestions.

[2021-06-15 14:53] rongfengliang commented on #201
@shink  yes.that's one way . keep method same  maybe better

[2021-06-16 03:02] hsluoyz commented on #201
@shink can we provide a new overload function like `SetUpdateCallback(func(string)) error`?

[2021-06-16 03:24] shink commented on #201
@hsluoyz Sure, if necessary. I will do it right away.

[2021-06-17 02:25] rongfengliang opened #204 "jcasbin DefaultRoleManager should provider some funcs (AddMatchingFunc,AddDomainMatchingFunc) just like golang"
just like golang version

[code]

current without  those func , if we want change default rbac  function we should pass one and then call loadPolicy if we forget
call loadPolicy , jcasbin will not working as golang version

[2021-06-17 02:44] hsluoyz commented on #204
@shink

[2021-06-20 15:50] hsluoyz commented on #196
Closed as resolved.

[2021-06-20 15:50] #196 closed

[2021-06-20 15:51] #201 closed

[2021-06-20 15:52] hsluoyz commented on #201
@shink plz update our watchers (https://github.com/jcasbin?q=watcher&type=&language=&sort=) to support the new interface.

[2021-06-20 15:52] hsluoyz opened #206 "update our watchers to support the new Watcher interface"
https://github.com/casbin/jcasbin/issues/201#issuecomment-864574337

[2021-06-20 15:53] hsluoyz commented on #206
@shink

[2021-06-21 00:51] shink commented on #206
@hsluoyz OK, I will.

[2021-06-21 12:11] #204 closed

[2021-06-22 03:27] rongfengliang commented on #206
@shink  add  void setUpdateCallback(Consumer<String> func);  in Watcher interface as one default implement maybe  better

 like this

[code]

so any  watcher  library deps  jcasbin nee't rewrite .just  upgrade   version
if one want  implement callback with args just override it

[2021-06-22 06:20] shink commented on #206
@rongfengliang Yes, it's a good idea. But if the user calls this method and finds it blank, it may be misleading. We should remind the user to implement it. (There may exist third-party watchers.)
@hsluoyz What do you think?

[2021-06-22 12:57] rongfengliang commented on #206
@shink  for default method  implement . we can show some log  message  contains  how to  implement  it

[2021-06-23 02:21] shink commented on #206
@rongfengliang It's a good idea! Thank you for your suggestion.

[2021-06-29 17:20] hsluoyz opened #207 "Make a Kafka authorization middleware based on Casbin"
See:

1. https://github.com/Bisnode/opa-kafka-plugin
2. https://github.com/aiven/aiven-kafka-auth

[2021-07-02 13:07] hsluoyz commented on #186
@tangyang9464

[2021-07-02 14:01] hsluoyz commented on #207
@tangyang9464

[2021-07-06 15:49] rob-spoor opened #208 "Special Grammar not supported"
The [Special Grammar](https://casbin.org/docs/en/syntax-for-models#special-grammer) is not supported. If I try the simple example matcher (`m = r.sub.Name in (r.obj.Admins)`), I get an error:

[code]

The parsing seems to incorrectly see `in` as variable and not as operator.

[2021-07-06 16:52] hsluoyz commented on #208
@tangyang9464

/cc @fangzhengjin

[2021-07-07 04:53] tangyang9464 commented on #208
@rob-spoor
jcasbin can't support ``in``.In fact,just some languages can support this feature.
see [feature-set-for-different-languages](https://casbin.org/docs/en/overview#feature-set-for-different-languages),the last point

[2021-07-07 06:48] hsluoyz commented on #208
@tangyang9464 can we support `in` in Java? See: https://casbin.org/docs/en/syntax-for-models#expression-evaluator . Java uses: https://github.com/killme2008/aviatorscript as the expression evaluator. And `aviatorscript` is evolving faster now. We should send issue to their community for `in` support.

[2021-07-07 07:17] rob-spoor commented on #208
@tangyang9464 I hadn't found this page yet. It only confirms my findings.

@hsluoyz it would be great if support for `in` could be added (through changes in `aviatorscript`). For now I guess I'll have to create a workaround.

[2021-07-07 08:46] rob-spoor opened #209 "CustomFunction.replaceTargets replaces too much"
The way that `replaceTargets` works, it will replace more than one occurrence of dots if one request argument is an object that contains a property with the same name as another request argument. For example, if I have one request argument `sub` that is an object with property `value`, and another request argument `value`, then any occurrence of `r.sub.value` will not lead to `r_sub.value` but ins

[2021-07-07 09:07] hsluoyz commented on #209
@tangyang9464

/cc @fangzhengjin

[2021-07-07 10:19] rob-spoor commented on #209
Perhaps an idea is to use a `Pattern` to find all strings that may need replacing, then replace only the first part in those.
A quick and dirty (case insensitive) regex that needs tweaking: `([a-z0-9]+)\.([a-z0-9]+)((?:\.[a-z0-9]+)*)`. This would yield 2 groups:
1. The part before the first dot.
2. The part after the first dot but before any second dot.
3. The part after any second dot.

If `<grou

[2021-07-07 10:59] tangyang9464 commented on #208
@hsluoyz
see: [#379](https://github.com/killme2008/aviatorscript/issues/397)
AviatorScript can only use custom functions instead of native operator syntax, which means we need to analyze the syntax ``in`` by jCasbin.It seems difficult, and the implementation is different from other languages

[2021-07-07 11:06] rob-spoor commented on #208
For now I've added a custom function that translates to `collection.contains(value)`. It has some drawbacks but at least this issue is not blocking anymore.

Having to implement this completely in jCasbin without support from AviatorScript seems quite hard, so I can understand if this issue won't get resolved anytime soon.

[2021-07-07 11:16] hsluoyz commented on #208
@rob-spoor @tangyang9464 how about add a translation layer to translate the matcher from:

[code]

to:

[code]

It's just a regex replacement I think.

[2021-07-07 11:18] rob-spoor commented on #208
That could probably work, but it needs proper testing. Fortunately, the pattern seems to be quote simple: <value> in (<collection>). The value could be a string though.

[2021-07-07 11:36] tangyang9464 commented on #208
For ```A in B```,we need to analyze what are A and B, but there is no precise separator,regex replacement is difficult.
Unless change the ``in`` syntax like ``regexMatch,keyGet2`` function

[2021-07-13 01:20] tangyang9464 commented on #186
@hsluoyz @shy1st @lanmarti
After my test on the cases in [casbin/casbin#783](https://github.com/casbin/casbin/issues/783),I found that all met expectations.
Has this bug been solved?Please let me know if there is anything missing

[2021-07-13 08:46] hsluoyz commented on #186
May be already fixed by: https://github.com/casbin/jcasbin/pull/199 ?

@lanmarti can you check the latest version v1.12.0 ? https://github.com/casbin/jcasbin/releases/tag/v1.12.0

[2021-07-13 12:08] lanmarti commented on #186
Indeed, #199 seems to have fixed it, and group isolation works from `v1.10.1` onwards. Thanks!

[2021-07-13 12:08] #186 closed

[2021-07-13 14:56] #209 closed

[2021-07-14 06:56] hsluoyz commented on #208
Any update?

[2021-07-19 10:40] #208 closed

[2021-07-26 05:48] chancyWu opened #212 "java.util.regex.PatternSyntaxException: Syntax error in regexp pattern near index 12 (in Android)"
Hi Guys,

I'm using this jcasbin in android to parse the model and policies. But when i try to run the enforce(sub, obj, act), it will throw the  ExceptionInInitializerError

[code]

It's due to the BuiltInFunctions, the patterns used didn't add escape for the closing }.  Besides keyMatch3Pattern, the keyMatch4 there is also one regex pattern didn't add the escape for the closing }.  In normal Jav

[2021-07-26 07:09] hsluoyz commented on #212
Hi @chancyWu , is there a way to support both general Java and Android? If yes, can you make a PR to fix it?

[2021-07-26 11:57] chancyWu commented on #212
@hsluoyz I added the \\ for the closing` }` in the PR. This can support both general Java and Android.

[2021-07-26 12:36] #212 closed

[2021-07-26 13:25] chancyWu opened #214 "java.lang.UnsupportedOperationException: can't load this type of class file (in android)"
When i use the enforce(sub, obj, act) in android, there will be some Error thrown from the aviator.
Detailed log is as below:

[code]

[2021-07-26 13:26] hsluoyz commented on #214
Asked here: https://github.com/killme2008/aviatorscript/issues/403

[2021-08-31 06:49] wxc978952419 opened #215 "jcasbin can't support in"
![image](https://user-images.githubusercontent.com/49092817/131455744-fb80d69c-db39-4183-a485-facc249abc9e.png)
![image](https://user-images.githubusercontent.com/49092817/131455763-f887a3df-97df-4504-b794-564d1064d4ad.png)

[2021-08-31 06:51] wxc978952419 commented on #215
![image](https://user-images.githubusercontent.com/49092817/131455905-2c2355e3-c77f-4700-bbd2-ed4a880fad3a.png)
![image](https://user-images.githubusercontent.com/49092817/131455959-01247a2a-f837-4d41-8dab-6b53860bc24f.png)

[2021-09-03 16:49] #215 closed

[2021-09-12 10:25] hsluoyz commented on #214
@tangyang9464

[2021-09-15 05:06] tangyang9464 commented on #214
@chancyWu Can you test your application by using this version [feat/android](https://github.com/tangyang9464/jcasbin/tree/feat/android). You just need to use ``mvn install`` to package

[2021-09-27 05:39] JanakaSandaruwan opened #247 "CasbinJsGetPermissionForUser api is supported in jcasbin"
Need to know whether `CasbinJsGetPermissionForUser` is supported in `jcasbin`?

[2021-09-27 16:30] chancyWu commented on #214
@tangyang9464  android can use the release, the issue is also fixed with the feat/android branch.

[2021-09-28 04:16] tangyang9464 commented on #214
@chancyWu thanks.I'll make a PR to update version.

[2021-09-28 11:53] #214 closed

[2021-10-19 06:25] shuitai opened #222 "Failed to disable casbin log"
[code]

Even if I set `enableLog` is false, the log still is shown.

[code]

If change code like this. the log will not be shown.

[code]

[2021-10-20 09:03] hsluoyz commented on #222
@seriouszyx plz see how Golang Casbin handles it: https://github.com/casbin/casbin

[2021-10-24 11:15] elfisworking opened #225 "We need to introduce automatic code format checking"
include two part:
1: when commit or pull request, github action check code format automatically
2: a script that help developer to check code format locally

[2021-10-24 11:38] #222 closed, assigned to hsluoyz

[2021-10-24 15:12] wxc978952419 opened #227 "can jcasbin support multiple management API,such as AddPolicies()?"
can jcasbin support multiple management API,such as AddPolicies()?

[2021-10-26 16:03] elfisworking opened #230 "We need to update developer document"
we should tell developers that we has used google java style as our project code style. If they using idea, they maybe need to install google-java-format plugin to format their code before committing. Also we need to provide some tips to help them understand how to contribution.

[2021-10-28 08:04] #227 closed, assigned to hsluoyz

[2021-10-28 08:07] github-actions[bot] opened #231 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure y

[2021-10-30 02:34] seriouszyx commented on #231
👏 It's available on [Maven Repository](https://mvnrepository.com/artifact/org.casbin/jcasbin/1.17.0).

[2021-10-30 02:35] aexftf commented on #230
你好还缺文档吗？

[2021-10-30 02:36] hsluoyz commented on #230
Sorry, this issue will be closed.

[2021-10-30 02:36] #230 closed

[2021-11-01 05:44] hsluoyz commented on #231
@seriouszyx great!

[2021-11-01 05:44] #231 closed

[2021-11-01 05:45] hsluoyz commented on #231
@MRGUOKING plz label this to bug

[2021-11-01 05:55] hsluoyz commented on #225
Closed for now.

[2021-11-01 05:55] #225 closed

[2021-11-05 06:57] doctormacky commented on #174
Could you please let  me know on the `Group with domain` model issue here
[code]
With this fix,  It will be false with following testing:
testDomainEnforce(e, "alice", "domain1", "data1", "read", false);

Then, how we need to do so that we can  let alice access  the domain1 ?

[2021-11-05 07:14] doctormacky opened #232 "Group with domain model not working"
Hi guys, with the latest code chage. you guys change the unit test case directly as following:

**Model**:
[code]

Test case expression:

[code]

T**est case**

[code]
So, what alice can access ?

[2021-11-05 07:20] doctormacky commented on #232
Please see this change here:
https://github.com/casbin/jcasbin/commit/4d91e84043eeb8d20eb5850e049928bde351a168

src/test/java/org/casbin/jcasbin/main/GroupRoleManagerTest.java

[2021-11-05 14:00] hsluoyz commented on #232
@seriouszyx plz take a look

[2021-11-05 14:01] hsluoyz commented on #174
@doctormacky is this the same as issue: https://github.com/casbin/jcasbin/issues/232 ?

[2021-11-05 14:05] doctormacky commented on #174
Thanks for you quick response. nont, there are not the same issue. actually, the issue caused by the fix https://github.com/casbin/jcasbin/commit/4d91e84043eeb8d20eb5850e049928bde351a168

Originally, the Unit test can pass, and the test case can not pass after above fix. and the developer updated the unit test directly... I do not think it's reasonable. please take a look that [issue](https://gith

[2021-11-05 17:13] hsluoyz commented on #174
@seriouszyx

[2021-11-06 05:43] seriouszyx commented on #232
Sorry for waiting.
The unit test still uses the `DefaultRoleManager` and it will return false. You can use `GroupRoleManager` to make alice have the permission to read data1 as below.

[code]

I'm also confused why #199  changed the unit test case directly. And I have tried to get in touch with @shink and he will come to take a look sometime.

cc @hsluoyz

[2021-11-06 05:48] hsluoyz commented on #232
@seriouszyx we should follow the Golang Casbin's behavior.

[2021-11-06 05:58] seriouszyx commented on #232
@hsluoyz But I didn't find the `GroupRoleManager` in the [Golang Casbin](https://github.com/casbin/casbin/tree/master/rbac), instead in the [.NET Casbin](https://github.com/casbin/Casbin.NET/blob/master/NetCasbin/Rbac/GroupRoleManager.cs).

[2021-11-06 06:51] hsluoyz commented on #232
@sagilio is our .NET maintainer, is the unit test change intended?

[2021-11-06 07:35] doctormacky commented on #232
Good to kow, and verified.  Many thanks for this information, this means, we need to add following two lines after the fix
`    e.setRoleManager("g", groupRoleManager);
    e.setRoleManager("g2", groupRoleManager);`

[2021-11-06 09:37] doctormacky commented on #232
suggest have more unit tests for each model including some negative, and positive test.

[2021-11-07 09:22] doctormacky commented on #232
@seriouszyx @hsluoyz As @seriouszyx provided a workaround for the case, should I close this issue  or just leave it here until you add more unit case for `group with domain` model ?

[2021-11-08 07:58] shink commented on #232
@hsluoyz @doctormacky @seriouszyx
Sorry for the late reply and my previous negligence. I'm willing to do some work to fix it.
But, should the enforcement result be `true` or `false`?
![1](https://user-images.githubusercontent.com/49934421/140704375-1660975f-79ae-4a1c-95fa-0a7304f7b4f4.png)

[2021-11-09 02:07] doctormacky commented on #232
@hsluoyz I totally understand that we need to align with Golang Casbin.  However,  Group with Domain model is not an official model for Golang Casbin, and seems Golang edition will also support this feature. see(https://github.com/casbin/casbin/pull/874)

So currently, Group with Domainn model is an extended model which only implemented by JCasbin.  there are some options for us:
1. add some offic

[2021-11-09 03:40] sagilio commented on #232
`Group RoleManager` has been in the `Java/.NET` library for a long time (two or three years ago), and I keep this feature always ready.

[2021-11-10 11:15] dginelli opened #233 "Activating a research fault localization bot on your project?"
Hi!

We are software engineering researchers and are currently looking for active open-source projects where we could test a new cool software bot: flacocobot!

When a new pull request is open, if it has test failures/errors, flacocobot analyzes the failure and posts a diagnosis as comments to the pull request, highlighting the most suspicious lines that likely need to be analyzed to fix the bug.

[2021-11-14 08:20] github-actions[bot] opened #237 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure y

[2021-11-19 12:45] hsluoyz commented on #237
@seriouszyx is this issue fixed at Sonatype side? Do we have any way to re-try or re-run it?

[2021-11-19 13:05] seriouszyx commented on #237
@hsluoyz I have manually re-published.

![image](https://user-images.githubusercontent.com/33992371/142627456-0bfe7a15-dba4-49ea-8cd4-02c5a10d2ab4.png)

[2021-11-19 13:12] hsluoyz commented on #237
@seriouszyx thanks! Closed here.

[2021-11-19 13:12] #237 closed

[2021-11-30 10:07] huyphan-tiki opened #241 "Support multiple policy"
Hi, I am new in casbin and I am combining RBAC & ABAC model following https://casbin.org/docs/en/syntax-for-models#multiple-sections-type, but It seems that `jcasbin` has no implemented yet (I am using latest version `v1.19.0`). So I got the exception when running the test as below:

[code]

My test:
[code]

My model:
[code]

My policies:
[code]
My `TestEvalRule` class & `EnforceContext` class
[co

[2021-11-30 10:12] hungpham1309 commented on #241
I'm having the same issue.

[2021-11-30 11:56] hsluoyz commented on #241
@seriouszyx plz support it

[2021-11-30 12:10] seriouszyx commented on #241
@huyphan-tiki @hungpham1309 Have supported it in #242, plz review.
And in your example, the unit test should be changed as below (Use EnforceContext provided by jCasbin and set eType as "e").

[code]

[2021-11-30 14:22] #241 closed

[2021-11-30 14:23] huyphan-tiki commented on #241
Thank @hsluoyz , @seriouszyx a lot!

[2021-12-02 15:28] huyphan-tiki opened #243 "Can not escape comma in policy rule"
Hi,
I am using ABAC via "jcasbin" and I am facing an issue related to the CSV Parsing of the policy. I am using the 1.20.0 version. My policy includes double quotes and CSV Parser is failing with the following error:
[code]
Here is the policy file:
[code]
Without comma in json, it could work fine
[code]
I have tried several solutions but they still do not work.
such as
[code]
I also checked the is

[2021-12-02 16:08] hsluoyz commented on #243
@seriouszyx can you take a look?

[2021-12-03 10:05] seriouszyx commented on #243
@huyphan-tiki  Please provide the conf file.

[2021-12-03 10:19] huyphan-tiki commented on #243
@seriouszyx Sorry about this missing. Here is my conf
[code]
`isMatch` is a custom function I wrote from https://lodash.com/docs/4.17.15#isMatch, which handles JSON string in the policy rules

[2021-12-04 11:00] seriouszyx commented on #243
@huyphan-tiki The exception is caused by [this line](https://github.com/casbin/jcasbin/blob/64b984d5885cf5d4be72c0482de8706ba0025476/src/main/java/org/casbin/jcasbin/persist/Helper.java?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L37) when loading policy data from the adapter. It uses method [spli

[2021-12-05 04:22] huyphan-tiki commented on #243
Thanks @seriouszyx , I think it will be ok. As I understand, we will use the escape character `\` for any special characters that I want to be escaped in csv format at policy rules ?

Example, If I want to get raw string
[code]
Should I put in policy rule like this
[code]
Or like this
[code]
Because the character `"` double quote is also a special character in csv format

Hope to get your answer s

[2021-12-05 05:02] hsluoyz commented on #243
@huyphan-tiki @seriouszyx after a second look, shouldn't we follow the CSV standardized escape rule? If we want to escape a CSV element, we will wrap the content with double quotes. The double quote itself inside double quotes can be escaped by two quotes. See more details at: https://stackoverflow.com/questions/17808511/properly-escape-a-double-quote-in-csv

I think we should follow the CSV stand

[2021-12-05 07:31] huyphan-tiki commented on #243
Hi @hsluoyz ,

First, as I have mentioned in the issue's description, I have tried many CSV standardized escape rules as below but they have not still worked
[code]
In @seriouszyx 's comment, It uses method `splitCommaDelimited` to split a comma-delimited string and the CSVParser can not recognize the `"` double-quote escape character.

Second, I am using DB, not CSV for policy rules and it's stil

[2021-12-05 13:25] hsluoyz commented on #243
@huyphan-tiki OK then.

@seriouszyx

[2021-12-06 04:19] #243 closed

[2021-12-06 11:17] hsluoyz opened #245 "Support multiple "p" in model's request definition"
Similar to Go's PR: https://github.com/casbin/casbin/pull/838

[2021-12-06 11:18] #245 closed

[2021-12-07 12:09] Memory63 opened #246 "Use the new jCasbin POM, null pointer"
https://blog.csdn.net/waynelee0809/article/details/85702551

Modeled after the program written by this blog, the jCasbin version of this blog is 1.1.0. Jcasbin upgrade 1.21.0, jDBC-jcasbin upgrade 2.1.3. And then submitted to the NullPointerException

The line in the image is NullPointerException

The picture
<img width="1117" alt="image" src="https://user-images.githubusercontent.com/35125750/145

[2021-12-07 12:18] hsluoyz commented on #246
@seriouszyx plz take a look

[2021-12-08 10:27] Memory63 commented on #246
The jDBC-jCasbin version should be 2.0.0

[2021-12-09 16:14] hsluoyz commented on #246
@Abingcbc can you take a look at this one?

[2021-12-13 15:54] hsluoyz commented on #247
@seriouszyx @Abingcbc plz implement `CasbinJsGetPermissionForUser()` in jCasbin

[2021-12-15 00:50] #247 closed

[2021-12-15 00:58] github-actions[bot] opened #249 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure y

[2021-12-15 01:49] hsluoyz commented on #249
plz fix the CI error: https://github.com/casbin/jcasbin/runs/4528260467?check_suite_focus=true

![image](https://user-images.githubusercontent.com/3787410/146108042-1bc9e05f-c4f5-463f-bfed-10a48a19d31f.png)

[2021-12-15 01:49] hsluoyz commented on #249
@Abingcbc @seriouszyx

[2021-12-15 01:57] hsluoyz commented on #249
Fixed: https://github.com/casbin/jcasbin/runs/4528692957?check_suite_focus=true

[2021-12-15 01:57] #249 closed

[2021-12-15 01:58] #246 closed

[2021-12-17 10:32] xianjuntang opened #250 "Will multiple policies P, P2 and P3 be matched at the same time"
[code]

[2021-12-17 14:07] hsluoyz commented on #250
@abichinger @Abingcbc @seriouszyx @sagilio

[2021-12-22 07:43] doctormacky opened #251 "Fatal error when using group with domain model"
Issue description:

casbin will return g2 xxxxx  group policy after we added a new policy and then try to load all g2 policy again.

Return following polices when call getNamedGroupingPolicy("g2") at the first time.

Step to reproduce
1. model
[code]
2. store type: db2

3.  initial g2 policys

[code]

4. after added a new g policy  `g	macky  super_compliance_admin`

5. query the g2 policy again an

[2021-12-22 07:49] doctormacky commented on #232
I'd like to close this issue as the  the workaround are working https://github.com/casbin/jcasbin/issues/232#issuecomment-962399080

[2021-12-22 07:49] #232 closed

[2021-12-22 08:39] doctormacky commented on #251
Anyone here can help ? This really impact our project.

[2021-12-22 10:01] seriouszyx commented on #251
I wrote a unit test as below and encountered no problems. Is there any inconsistency between this test and your situation?

Model:
[code]

Policy:
[code]

Test:
[code]

output:
[code]

[2021-12-22 10:36] hsluoyz commented on #232
@doctormacky can you review this PR? https://github.com/casbin/casbin/pull/874

[2021-12-22 10:51] doctormacky commented on #251
Thanks for you quick response. Yes, there are some difference.
1. A you mentioned before, group with domain model can not work with the defualt group manager, we need use GroupRoleManager as you mentioned [here](https://github.com/casbin/jcasbin/issues/232#issuecomment-962399080)
2. The second is that we are using data base instead of file adapter, but maybe we can have test with file adapter firs

[2021-12-22 12:30] doctormacky commented on #251
Another interesting case is that some new added g2 policy will show g2 xxxxx whenn I tried to print the policy by engine.getModel().printPolicy();

Like following:
[code]

Could you help  help to investigate it ?  thanks.

[2021-12-22 12:42] seriouszyx commented on #251
Sorry, I can not reproduce these bugs. Could you please extract a unit test so that we can position it? For example, use file storage first to determine whether the bug was caused by jCasbin or by adapter.

[2021-12-22 13:05] doctormacky commented on #251
Thanks, I think the FileAdapter can not reproduce it due to some un-implemented functions  in this adapter.
I believe that this issue caused by some error logic when add new  g2 group policy in the group role manager.

By the way, those g2 group policy in database are showing as expected.  Could you please let me know the mechanism  on the  adding new g2 group policy (what happen in casbin includi

[2021-12-23 02:49] doctormacky commented on #232
@hsluoyz  I'd like to do that, but I am not a go master, sorry about this case.

[2021-12-23 03:06] doctormacky commented on #251
Anyone Can help ?  I am 100 percent sure that this is is a fatal error when using group role with domain model.
When we try to add some new g2 policies. then, those new added policies in model will show like g2 xxxxxx, we should hide g2.  I would suggest you guys to drop this model before fix it. as it's a fatal error.

[2021-12-23 03:07] doctormacky commented on #251
@sagilio

[2021-12-23 12:13] doctormacky commented on #251
I would like to close this issue since this issue caused by a shawdow copy of the policy. sorry for the disturbe.

[2021-12-23 12:13] #251 closed

[2022-01-17 15:31] hsluoyz commented on #250
@xianjuntang see: https://casbin.org/docs/en/syntax-for-models#multiple-sections-type

[2022-01-17 15:31] #250 closed

[2022-01-22 08:25] caihx6 opened #252 "Using 'in' causes the expression to lose content"
[code]
m1.appendReplacement(sb, "include($2, $1)") cause the content after the last match is lost。
Final call  “”m1.appendTail(sb) ” should be made.

[2022-01-22 09:02] hsluoyz commented on #252
@seriouszyx @Abingcbc

[2022-01-26 11:49] #252 closed

[2022-02-09 10:32] pza94 opened #254 "ClassCastException for Strings within grouping fucntions"
Hi there,

I created a matcher that extracts a string from a given request object, and checks if that is in a given group:

` g4(keyGet2(r.obj, "/customer/:cid/*", "cid"), p.dom ) `

When I try to call `enforce` it throws a `ClassCastException`.
[code]
I made some investigation myself, I found that the g(rouping)-function expects that the arguments are `AviatorJavaObject`s (fx. `p.dom`) and just f

[2022-02-09 11:13] hsluoyz commented on #254
@seriouszyx @Abingcbc @fabian4

[2022-03-03 19:36] sojanm28 opened #255 "Inconsistent behavior while updating policy"
Hello,

I am seeing inconsistent behavior when I am trying to update the grouping policy by using the below methods

[code]

3 out of 4 times this work, but addNamedGroupingPolicy() fails to reflect the updated values in the casbin policy mapper.

Any help/insights will be greatly appreciated

Thanks!

[2022-03-03 20:03] sojanm28 opened #256 "bottleneck with loadPolicy usage"
It seems LoadPolicy() is a bottleneck. How can Casbin be scaled if there are large number of users and each user has multiple policies?. And if a single policy is updated, LoadPolicy has to be invoked?. Is there a better way to approach it?
x: a users permission get updated and without loading the entire policy set there's currently no way to detect that change?

[2022-03-04 00:45] hsluoyz commented on #256
See: https://casbin.org/docs/en/performance

[2022-03-04 00:45] #256 closed

[2022-03-04 02:52] yicm opened #257 "Does jcasbin need to manually load the policy before each authorization?"
**my use case:**

- Microservices:
    - gateway: only for authorization
    - user_role_permission_management: policy management
- Cluster: Authentication service has multiple replicas

**questions:**

- gateway can not get the newest policy when policy updated, can not be dynamically authenticated
- The policy needs to be loaded before each authentication. Is there a better way?

[2022-03-04 03:30] tangyang9464 commented on #257
@yicm You need to use [watcher](https://casbin.org/docs/en/watchers), which is automatically loaded policy when the policy is updated.

[2022-03-04 04:38] hsluoyz commented on #257
@yicm see: https://casbin.org/docs/en/performance

[2022-03-04 04:38] #257 closed

[2022-03-09 12:26] hsluoyz commented on #255
@seriouszyx @abichinger @Abingcbc

[2022-03-16 01:00] hsluoyz commented on #104
@sanbit876 see my updated comments

[2022-03-16 14:29] sanbit876 commented on #104
Hey @hsluoyz thank u for the updated comment, I have gone through the Documentation of the Play-Framework and integration of the other web frameworks with casbin. Can u guide me on creation of the required classes and methods for the middleware as i saw that each middleware were implemented using different methods and were complex.

[2022-03-17 04:16] hsluoyz commented on #104
@sanbit876 see my updated comments

[2022-03-21 02:31] caihx6 opened #258 "In the case of high concurrency, the performance of e.enforce () is poor"
Every time e.enforce() is called, an aviatorevaluatorinstance will be generated, which makes the cache mechanism of aviator unavailabl.

[2022-03-21 13:18] #258 closed

[2022-03-28 11:29] tangyang9464 opened #261 "[Feature] Reimplement default role manager"
See: [casbin#942](https://github.com/casbin/casbin/pull/942)

[2022-04-05 07:07] 553269487 commented on #255
Hi there! Usually it should be a multithread bug. But i have checked the source code they put lock on the mapper. Did you use your own multithread maybe?

[2022-04-05 13:15] hsluoyz commented on #255
@tangyang9464

[2022-04-05 16:40] JeffPereyma opened #264 "Android Support Below API 26 (Oreo)"
Hello,

I am using the jCasbin library on Android, and it looks like one of the dependencies of the project [AviatorScript](https://github.com/killme2008/aviatorscript) is using a Java 8 Language method only supported in Android 26 and above. This makes the jCasbin library unusable for a large portion of devices (~20%).

The Java method in question is [invokeExact(Object... args)](https://docs.ora

[2022-04-06 04:34] tangyang9464 commented on #264
@JeffPereyma Do you have any good suggestions to solve the issue? Android official advice can't solve this issue.

[2022-04-06 05:46] tangyang9464 commented on #255
@sojanm28 Can I have your code about this bug?

[2022-04-06 10:30] hsluoyz commented on #264
@JeffPereyma what Java SDK version do you need?

[2022-04-06 19:25] JeffPereyma commented on #264
@hsluoyz @tangyang9464  Java 7 and 8 features should all be fine, but it is specifically the MethodHandle class that is not available. My understanding is Android ports over their own version of Java as part of it's Android SDK. It would seem these ports for earlier versions of Android do not include the `MethodHandle` class.

Since then it seems they have been able to do things like desguaring to

[2022-04-19 11:54] tangyang9464 opened #267 "[Feature] Support rbac-api using additional p-types"
see: [pycasbin#253](https://github.com/casbin/pycasbin/issues/253)

[2022-04-30 04:10] Nekotoxin commented on #267
I will work on this

[2022-05-04 22:16] JCereal opened #270 "Question about "hasRole" method when using regex matching function"
Hi there,

I have a question about the "hasRole" method implementation here: https://github.com/casbin/jcasbin/blob/master/src/main/java/org/casbin/jcasbin/rbac/DomainRoles.java#L37-L43

Here is the example to cause this issue:

1. Create an enforcer with regex matching function:
`enforcer.setRoleManager("g", new DefaultRoleManager(10, BuiltInFunctions::regexMatch, null));`

2. Add a "g" policy li

[2022-05-05 04:47] hsluoyz commented on #270
@tangyang9464

[2022-05-05 05:31] suryamukerjee1982 opened #271 "java.lang.IllegalAccessError: class org.casbin.adapter.JDBCBaseAdapter tried to access private field org.casbin.adapter.CasbinRule.ptype"
I am creating a Spring Boot app with spring data jpa and with the policy persisted in PostgreSQL DB.

### **pom** ---
[code]
### **application.properties**

[code]

### **Model - I am loading the model in my Main application class inside a Bean**

[code]
**### In my Filter Class, I am doing the following for initializing the Enforcer with the Model and the Policy-**

[code]

**### The application

[2022-05-05 07:33] hsluoyz commented on #271
@tangyang9464

[2022-05-09 10:46] #267 closed

[2022-05-11 11:18] tangyang9464 commented on #271
@suryamukerjee1982 The easiest solution is to remove the ``casbin-spring-boot-starter`` dependency or ``jdbc-adapter``.
Because the ``CasbinRule`` structure in ``casbin-spring-boot-starter`` and ``jdbc-adapter`` is conflicting. And It looks like you don't use ``casbin-spring-boot-starter`` at all. Currently ``casbin-spring-boot-starter`` has its own built-in ``jdbc-adapter``, but it is not compati

[2022-05-12 08:18] tangyang9464 commented on #270
@JCereal You are right. Could you make a PR for this?

[2022-05-15 11:35] tangyang9464 commented on #255
@hsluoyz No response for too long, should be closed.

[2022-05-15 12:23] tangyang9464 commented on #254
@hsluoyz @pza94 soloved by #265

[2022-05-15 12:57] #254 closed

[2022-05-15 12:57] #255 closed

[2022-05-20 00:30] JCereal commented on #270
@tangyang9464 Please see #274

[2022-05-20 10:31] #270 closed

[2022-05-31 08:03] headthick opened #275 "how to use gfunction"
i got some trouble ,my model is :
[request_definition]
r = sub, tenant, resource, obj, act

[policy_definition]
p = sub, tenant, resource, obj, act, eft

[role_definition]
g = _, _, _

[policy_effect]
e = some(where (p.eft == allow)) && !some(where (p.eft == deny))

[matchers]
m = g(r.sub, p.sub, p.tenant) && r.tenant == p.tenant && r.resource == p.resource && keyMatch(r.obj, p.obj) && regexMatch(

[2022-05-31 12:27] tangyang9464 commented on #275
@headthick plz use ``addMatchingFunc(BuiltInFunctions::keyMatch2)`` and ``addDomainMatchingFunc(BuiltInFunctions::keyMatch2)``. such as
see [rbac-with-pattern](https://casbin.org/docs/en/rbac-with-pattern)

[2022-05-31 13:27] tangyang9464 commented on #275
@headthick After #276  is merged, you can update jcasbin to the latest version, then use api ``addNamedMatchingFunc`` and ``addNamedDomainMatchingFunc``. see [rbac-with-pattern](https://casbin.org/docs/en/rbac-with-pattern)

[2022-06-02 02:54] Memory63 opened #277 "Delete the group API interface bug"
When using this interface enforcer. RemoveNameGroupingPolicy (" g ", "role1") to delete group, database data deleted successfully, but cached data is still there.

### POM
[code]

### Execute Code
![image](https://user-images.githubusercontent.com/35125750/171542363-768c3207-2b64-4120-8b94-159ecbb3c91b.png)

### Adapter
<img width="1020" alt="image" src="https://user-images.githubusercontent.com/3

[2022-06-02 06:30] hsluoyz commented on #277
@tangyang9464

[2022-06-03 09:04] imp2002 commented on #277
**remove rules in the database：**[code impl url](https://github.com/jcasbin/jdbc-adapter/blob/98a9aa8e48ea747f4b5128d74a1a2b9072ab562d/src/main/java/org/casbin/adapter/JDBCBaseAdapter.java#L411)

![image](https://user-images.githubusercontent.com/41513919/171822450-da324843-1b3c-49b7-bef7-708ca513818e.png)

**remove rules in the Redis：** [code impl url](https://github.com/jcasbin/redis-adapter/blo

[2022-06-03 15:08] hsluoyz commented on #277
@Memory63 which adapter do you use?

[2022-06-04 05:23] Memory63 commented on #277
JDBC. It's in the screenshot.

[2022-06-04 05:26] Memory63 commented on #277
It feels strange when a delete succeeds in the database while the cache is still in place.

[2022-06-04 16:00] hsluoyz commented on #277
@Memory63 if you want to delete policy with a partial condition, you should use the "Filtered" API: `RemoveFilteredNamedGroupingPolicy()`: https://casbin.org/docs/en/management-api#removefilterednamedgroupingpolicy . `RemoveNameGroupingPolicy()` is only for matching all fields for a policy.

[2022-06-06 01:58] Memory63 commented on #277
@hsluoyz
RemoveFilteredNamedGroupingPolicy, the use of this API is no problem. RemoveNameGroupingPolicy is a full field match and is fine.
However, the problem I feedback is that since the API parameters do not match, the data is also deleted, and only the database data is deleted. The cached data is not deleted, which is problematic, causing data consistency problems.

[2022-06-06 08:20] hsluoyz commented on #277
@tangyang9464 @imp2002

[2022-06-06 16:03] imp2002 commented on #277
Yes, it's a bug, in `jdbc-adapter` the `RemoveNameGroupingPolicy()` implements with `RemoveFilteredNamedGroupingPolicy` directly, it leads to the wrong result.

code ref: https://github.com/jcasbin/jdbc-adapter/blob/98a9aa8e48ea747f4b5128d74a1a2b9072ab562d/src/main/java/org/casbin/adapter/JDBCBaseAdapter.java#L373-L378
![image](https://user-images.githubusercontent.com/41513919/172199207-989ead52-

[2022-06-06 17:06] hsluoyz commented on #277
@imp2002 I don't think your pasted code has bug. It means to match all the fields in the filter, it is what `removePolicy()` should do: match all fields.

@tangyang9464 you wrote this part of code, what do you say?

[2022-06-07 02:57] tangyang9464 commented on #277
@Memory63 First of all your usage is wrong, and at the same time the implementation of ``jdbc-adapter`` is wrong. ``removeNamedGroupingPolicy`` only matches a complete policy record. (params should be``role1, role2``) You should use removeFilteredPolicy to filter policy by some conditions. (params should be ``role1``)

[2022-06-07 03:09] Memory63 commented on #277
@tangyang9464
Yes, I did use it wrong. But the deletion did succeed, and even weirder, only the database was deleted, not the cache. I feel that this logic is wrong, you will either succeed in deleting or you will fail, regardless of the usage and input.
Besides, my English is poor, so I don't know whether the translation software I use can correctly convey my meaning.
I hope I can understand the

[2022-06-07 03:19] tangyang9464 commented on #277
@Memory63 As I said above, the implementation of ``jdbc-adapter`` is wrong. We will fix it later. Could you @imp2002  fix it?

[2022-06-07 03:29] tangyang9464 opened #278 "performance: use map to store policy index to insert/remove policy with O(1)"
This is an existing feature of casbin.
see [casbin#500](https://github.com/casbin/casbin/pull/500) [casbin#499](https://github.com/casbin/casbin/pull/499)

[2022-06-07 03:29] tangyang9464 commented on #278
@imp2002 @seriouszyx

[2022-06-07 05:24] imp2002 commented on #277
OK, i will fix it.

[2022-06-12 06:48] i1619khz opened #279 "Remove guava"
I searched for the use of guava in the jcasbin code and found only in used in Util.java. Only used for md5 encryption

https://github.com/casbin/jcasbin/blob/a21b2199bcd1199a66aebf7e86930b2218dfacd1/src/main/java/org/casbin/jcasbin/util/Util.java#L45

https://github.com/casbin/jcasbin/blob/a21b2199bcd1199a66aebf7e86930b2218dfacd1/src/main/java/org/casbin/jcasbin/util/Util.java#L292-L295

Referring

[2022-06-12 07:44] tangyang9464 commented on #279
@i1619khz Could you make a PR？

[2022-06-12 08:40] i1619khz commented on #279
with pleasure

[2022-06-12 09:35] i1619khz commented on #279
#280

[2022-06-12 09:35] i1619khz commented on #279
@tangyang9464 #280

[2022-06-12 15:53] #277 closed

[2022-06-16 07:51] imp2002 commented on #278
I'm working on it.

[2022-06-18 12:42] #279 closed

[2022-06-20 07:25] dspasojevic commented on #104
@sanbit876 did you end up starting on this? I am slightly interested in implementing it.

[2022-06-20 08:44] hsluoyz commented on #104
@dspasojevic I don't think so. You are welcome to contribute it!

[2022-07-06 11:37] hsluoyz commented on #271
Fixed by: https://github.com/jcasbin/casbin-spring-boot-starter/pull/68

@suryamukerjee1982 plz have a try

[2022-07-11 16:06] 2140345 opened #284 "Why use the first one when there are multiple [policy_effects]"
Model:

[code]

The following is the java test code:

[code]

I want to use  enforceContext.seteType("e2"), but I can only use e.
Because the push in the defaultstreameffector class threw an unsupported operation exception
seek help!

[2022-07-12 11:26] hsluoyz commented on #284
@imp2002

/cc @tangyang9464

[2022-07-12 12:57] imp2002 commented on #284
@2140345 I'm ok for this. Could you provide your INFO log?

![image](https://user-images.githubusercontent.com/41513919/178494803-50bd9a9c-ab96-4644-a0dd-5c05ce969bdc.png)
![image](https://user-images.githubusercontent.com/41513919/178494853-c1c0ce0e-22eb-4ad4-b6cf-8e000547d9c4.png)

[2022-07-13 11:32] #278 closed

[2022-07-15 08:45] 2140345 commented on #284
This is a version problem. When I upgraded the version of jcaspen to 1.24.2, the problem was solved.

[2022-07-15 08:47] 2140345 commented on #284
@imp2002 我把版本升级到1.24.2之后就没有这个问题了，当时是用了老的版本。

[2022-07-15 08:51] 2140345 commented on #284
The problem has been solved. Thank you！

[2022-07-15 08:51] #284 closed

[2022-07-26 08:37] toop opened #286 "How to work on the springboot？"
On the springboot, when a user accesses /books/list, I need to filter books data according to the data_scope range data of the currently logged in user and the category value of books. Please ask how to do this. Please give some collective examples. Thank you very much!

USER：

user | dept | data_scope
admin | 1 | [,]
Tom | 1 | [1,2,3]
Sim | 2 | [1,2]
Kat | 3 | null

BOOKS：

id | name | category
1

[2022-07-27 14:35] imp2002 commented on #286
It is not work on the table `user` above. What you need do is store the policy like
![image](https://user-images.githubusercontent.com/41513919/181274452-7af27548-4085-4373-8801-948ab76f654f.png)

See how to add policy and how to persistence in db.
policy store doc:
https://casbin.org/docs/en/policy-storage

RBAC Doc:
https://casbin.org/docs/en/rbac

Vedio:
https://www.jtthink.com/course/play/2706

[2022-07-27 15:15] Mahoney commented on #185
Perhaps I misunderstand, but given, say, 1,000,000 articles to which Alice has permission to read 100, to find out which those 100 are, would I need to pass all 1,000,000 article ids to `batchEnforce`?

[2022-07-28 00:33] toop commented on #286
Thank you very much for your reply and solution!

[2022-07-28 01:33] #286 closed

[2022-08-10 14:42] FoeverA0 commented on #104
[WeOpen Star]I would like to help

[2022-08-11 16:11] #261 closed

[2022-08-25 15:28] damienmiheev opened #288 "ArrayIndexOutOfBoundsException when performing enforce"
I'm using `org.casbin:casbin-spring-boot-starter:0.4.2` and `org.casbin:jcasbin:1.27.0`.
Synchronisation over redis is enabled: useSyncedEnforcer: true.
The policies is stored in postgres db.

The model is a simple ACL:
[code]

Application is a single app, but it has multiple modules, communicated through the rabbitmq.

Time to time i'm getting ArrayIndexOutOfBoundsException error here:
`org/casbi

[2022-08-26 06:39] hsluoyz commented on #288
@imp2002

[2022-08-26 07:24] damienmiheev commented on #288
Sorry guys, I rather had a problem with my redis test container / watcher configuration than casbin.
Issue is not valid.

[2022-08-26 09:06] damienmiheev commented on #288
Ok, now the environment is well configured, unfortunately issue is still here.
All my tests are running on same docker containers stack, so the db and redis are shared between integration tests. I mentioned that the issue becomes visible, in the middle of test running, when there are already some numbers of rows in `casbin_rule` table.

[2022-08-26 09:19] hsluoyz commented on #288
@damienmiheev plz try to troubleshoot by yourself for several days to make sure it really exists, if still valid, make a new issue

[2022-08-26 09:19] #288 closed

[2022-08-26 11:04] dijiekstra opened #289 "batch enforce is too slow."
I use jcasbin 1.22.3 at prod env .
We have 20000+ policies, and per query has 200+ resource need to been check .
Query will done at least 1s, how can i to improve it ?

[2022-08-26 11:07] dijiekstra commented on #289
And i use jprofile to look up slow code , i found query has 80% time to execute `expression.execute()`

[2022-08-26 12:10] hsluoyz commented on #289
@dijiekstra provide:

- Model
- Policy
- Request
- Result

[2022-08-28 19:29] damienmiheev opened #290 "savePolicies and removePolicies are not synchronised"
I'm using latest version `1.27.0` of jcasbin and postgres db, so adapter supports batchUpdate.
I was struggling with concurrent update of policies.

I've just realised that `SyncedEnforcer` has no representative version `savePolicies` and `removePolicies` methods, so `ManagementEnforcer` was used instead, and it is not thread safe.

Is there any reason of why `SyncedEnforcer` has no such methods?

[2022-08-29 08:00] hsluoyz commented on #290
@damienmiheev can you make a PR to add them?

[2022-08-31 04:04] shijianjs opened #292 "jcasbin use aviator 5.x has Concurrency issues"
## Version
- Have validation aviator 5.3.1、5.3.0、5.2.7、5.1.4、5.0.1；
- jcasbin version: 1.27.0
- jdbc-adapter: 2.3.2

## Exception info

[code]

## model.conf
[code]

## test code
[code]

[2022-08-31 05:10] hsluoyz commented on #292
@seriouszyx @imp2002

/cc @tangyang9464

[2022-09-03 05:31] #290 closed

[2022-09-07 19:18] damienmiheev commented on #292
I'm struggling with a same issue. jcasbin 1.28.1

My model:
[code]

Even though i'm using synchronised enforcer, Exception is throwing periodically on async request to enforcer.
Would be nice if you can prioritise this bug.

[2022-09-08 12:35] hsluoyz commented on #292
@imp2002

[2022-09-11 13:45] qurius opened #295 "No getUsersForRoleInDomain function in Java Api"
Ref : https://casbin.io/docs/rbac-with-domains-api#getusersforroleindomain

[2022-09-11 15:11] imp2002 commented on #295
I will try to sync this feature.

[2022-09-11 15:24] #292 closed

[2022-09-11 15:25] hsluoyz commented on #289
Closed as stale

[2022-09-11 15:25] #289 closed

[2022-09-11 15:27] hsluoyz commented on #295
@imp2002 good!

[2022-09-12 16:53] #295 closed

[2022-09-15 18:24] jwanggg opened #297 "EnforceEx support in jcasbin"
Is it possible to get support for getting a reason for why the enforce method fails https://github.com/casbin/casbin/blob/66bb7027b73c102e17f77ffd429e50bd555bf035/enforcer_synced.go#L166 implemented for jcasbin?

[2022-09-16 00:02] hsluoyz commented on #297
See Go's EnforceEx: https://github.com/casbin/casbin/issues/606#issuecomment-782614618 , we need to port it to Java

[2022-09-16 00:02] hsluoyz commented on #297
@imp2002

[2022-09-16 00:29] shijianjs opened #298 "Concurrency exception: After 30 seconds of running the test code #292 , there are other problems."
After 30 seconds of running the test code #292 , there are other problems.

jcasbin version: 1.28.2、1.29.0
exception:
[code]

_Originally posted by @shijianjs in https://github.com/casbin/jcasbin/issues/294#issuecomment-1244982764_

[2022-09-16 01:03] hsluoyz commented on #298
@imp2002

[2022-09-16 03:25] imp2002 commented on #298
I presumably identified the problem, I modified the hashmap outside, but forgot the internal hashmap in `line 348`.

https://github.com/casbin/jcasbin/blob/f43e679eef7eda7f471761462ba2d384233a046e/src/main/java/org/casbin/jcasbin/util/BuiltInFunctions.java#L338-L353

it's should be
[code]
I'm sorry for my carelessness.

@shijianjs I use my own model and policy to reproduce your bug in 292, but can

[2022-09-16 06:07] hsluoyz commented on #298
@imp2002 can you make a PR? Maybe the user can test it by himself

[2022-09-16 08:43] shijianjs commented on #298
@imp2002
I'll send you the data once it's desensitized.
It takes longer for the local PGSQL database to report an error.

[code]

[casbin_rule_202209161635.zip](https://github.com/casbin/jcasbin/files/9582290/casbin_rule_202209161635.zip)

[2022-09-16 09:00] shijianjs commented on #298
model.conf has been updated as follows

[code]

[2022-09-16 14:46] imp2002 commented on #298
I still can't reproduce, using your policy. But this modification(https://github.com/casbin/jcasbin/pull/299) is still necessary, and I found [the same error at stackoverflow](https://stackoverflow.com/questions/29967401/strange-hashmap-exception-hashmapnode-cannot-be-cast-to-hashmaptreenode) you can try after the pr be merged, if there still this problem, I will think again how to solve it.

[2022-09-16 15:10] #298 closed

[2022-09-17 16:59] #297 closed

[2022-09-27 01:24] coffeeZhang001 opened #301 "[Feature] Implement subjectPriority in jcasbin"
I am usring casbin with jcasbin library, but i found the [[load-policy-with-priority-based-on-role-and-user-hierarchy](https://casbin.io/docs/priority-model#load-policy-with-priority-based-on-role-and-user-hierarchy)]  feature is not implementd in jcasbin.

I think this feature is valuable and convenient when we want to define policy with priority.

Currently, i have to define priority for each po

[2022-10-01 00:11] TraMiu commented on #301
Yes, I think this feature is important too.

[2022-10-01 05:55] imp2002 commented on #301
I will try sync this feature.

[2022-10-01 15:54] Xhy-5000 commented on #301
what's the usage of this mthod?https://github.com/casbin/casbin/blob/4028f8a8f4cf3ee76056da41bbd596ec97baac2a/model/model.go#L242

[2022-10-02 18:00] Xhy-5000 commented on #301
@imp2002 Do you know that?

[2022-10-13 22:39] aryalrabin opened #304 "Allow the explaination in `enforceEx` and `enforceExWithMatcher` methods in the CoreEnforcer to be accessed externally"
The current implementation of the [CoreEnforcer](https://github.com/casbin/jcasbin/blob/master/src/main/java/org/casbin/jcasbin/main/CoreEnforcer.java) prints the explanation on the log but does not allow it to be accessed externally.

The methods should allow the explanation to be passed externally. The below two methods should be

[code]

[2022-10-14 08:50] imp2002 commented on #304
Could you give a example manifest its necessity?

What I understand you mean is to replace `hit policy:` or add something around this. But I don't think it's necessary.👀

![image](https://user-images.githubusercontent.com/41513919/195804516-04e2b06b-6a57-45bf-94d9-d64d41b5578d.png)

[2022-10-14 17:23] aryalrabin commented on #304
You don't have to make any changes to  `Hit Policy:`.  The actual explanation is never returned back in jcasbin. Python or Go versions return multiple values with explanations back.
https://github.com/casbin/pycasbin/blob/6f6b1279cddef182ddce98a8c806130d67666f91/casbin/core_enforcer.py#L459
https://github.com/casbin/casbin/blob/63b2757cc60362d974921cb9065809b617d8b527/enforcer.go#L707

However, jc

[2022-10-19 15:06] imp2002 commented on #304
Looks right, thanks for your advice. I will implement it latter.

[2022-10-20 08:54] 13276965576 opened #305 "[Question] I want to get matching policy ,but enforce(String matcher, List<String> explain, Object... rvals) is private。"
I want to get matching policy ,but  enforce(String matcher, List<String> explain, Object... rvals) is private。
so,can modify this method to public?
private boolean enforce(String matcher, List<String> explain, Object... rvals)

[2022-10-20 15:03] hsluoyz commented on #305
@imp2002

[2022-10-21 01:07] 13276965576 commented on #305
@hsluoyz thk，but i am using java can't use go api,
@casbin-bot java api can't get match policy in progress, enforceEx retrun is boolean paramter.
explain is match policy.
    public boolean enforceEx(Object... rvals) {
        List<String> explain = new ArrayList<>();
        return enforce("", explain, rvals);
    }

[2022-10-21 01:16] Xhy-5000 commented on #301
[feat: Implement subject Priority in jcasbin #306](https://github.com/casbin/jcasbin/pull/306)

[2022-10-22 03:24] #301 closed

[2022-10-23 01:39] #304 closed

[2022-10-23 01:39] #305 closed

[2022-10-24 09:54] damienmiheev opened #309 "False negative result of enforcer.enforce()"
**What's your scenario? What do you want to achieve?**
I'm using SyncedEnforcer in my app. There is only one instance of app, so redis watcher is disabled. Inside the app i'm using multiple write operations which may be called asynchronously in a different modules:
* removeNamedGroupingPolicies(..)
* addNamedGroupingPolicies(..)
* addPolicies(..)
* removePolicies(..)

Most of the time application

[2022-10-28 10:14] imp2002 commented on #309
https://github.com/casbin/jcasbin/pull/310 try to fix it. You can try the lastest after the PR be merged. And the issue maybe close once the PR be merged, feel free to reopen it. Glad to see your feedback.

[2022-10-28 10:21] damienmiheev commented on #309
@imp2002 oh, unfortunately problem is somewhere else. I replaced all the usage of `getRole` and `getUser` with `getGroupingNamedFilteredPolicy`.

Making `getRole` synchronised by write lock is also not correct i believe, because the performance of this method may be slightly decreased for my case. But that's not the main topic.

Something wrong with `enforcer.enforce`. Maybe some kind of deadlock

[2022-10-28 14:05] imp2002 commented on #309
I'm still not sure if there's a problem here.

[2022-10-31 09:57] damienmiheev commented on #309
I'll try to explain my guess.
This is a list of methods which is used in our app:
- enforce(Object... rvals) - R?
- removeNamedGroupingPolicy(String ptype, String... params) - W
- getFilteredNamedGroupingPolicy(String ptype, int fieldIndex, String... fieldValues) - R*
- addNamedGroupingPolicy(String ptype, String... params) - W
- addPolicies(List<List<String>> rules) - W
- addPolicy(List<String> p

[2022-10-31 15:38] TraMiu opened #311 "ArrayIndexOutOfBoundsException when combining ABAC and RBAC"
I want to combine ABAC and RBAC models for my project and this is my initial model:
![image](https://user-images.githubusercontent.com/54165403/199044361-ec0ee915-a5bc-4977-ab70-0a4499018283.png)

Where I enforce sub and obj as Objects; act and targetProperty as String. This is my test:
![image](https://user-images.githubusercontent.com/54165403/199043952-48319b7b-1134-47b9-8867-b6c5b691c724.png)

[2022-11-01 08:07] hsluoyz commented on #311
@imp2002 @Xhy-5000

[2022-11-07 13:02] OutOfEastGate commented on #311
Thank you for your feedback. I've found the reason.
![image](https://user-images.githubusercontent.com/101807499/200315906-c044d4ea-1992-4a37-813a-f626c897e169.png)

As shown in the figure, the array initialization is three because of the vacancy of v0, but there are four when assigning values. I will solve this problem immediately.

[2022-11-07 13:05] OutOfEastGate commented on #311
@TraMiu Thank you for your feedback. I've found the reason.
![picture](https://user-images.githubusercontent.com/101807499/200315906-c044d4ea-1992-4a37-813a-f626c897e169.png)
As shown in the figure, the array initialization is three because of the vacancy of v0, but there are four when assigning values. I will solve this problem immediately

[2022-11-07 15:37] mynameisny opened #312 "addGroupingPolicy API interface bug"
When using this interface enforcer. addGroupingPolicy ("member", "group") to add user to an group, occured java.lang.NullPointerException:

### dependencies pom
[code]

### model.conf
[code]

### Application
[code]

[2022-11-07 16:08] imp2002 commented on #312
verified

[2022-11-08 03:40] OutOfEastGate commented on #311
@TraMiu
![picture](https://user-images.githubusercontent.com/101807499/200315906-c044d4ea-1992-4a37-813a-f626c897e169.png)
Can you tell me how this null value is generated? And what adapter did you use?

[2022-11-08 09:02] OutOfEastGate commented on #311
@TraMiu
This problem is caused by the fact that the eval expression is null. When defining the policy, you should assign a default value (true or false) to the eval expression so that OutOfBoundsException does not appear.

[2022-11-08 10:07] imp2002 commented on #312
I took a look and found that this is not a bug, acutrally `addGroupingPolicy()` is a role inheritance, so in `model.conf` should include a `[role_definition]` just look like follows.

[code]

[2022-11-08 15:35] hsluoyz commented on #312
Closed as resolved

[2022-11-08 15:35] #312 closed

[2022-11-10 01:02] mynameisny commented on #312
Thank you very much! @hsluoyz

[2022-11-13 01:29] TraMiu commented on #311
I got it now, thank you very much!
In addition, I am working on the case where I have **multiple object types** and I **stored all of the policies for those object in the same adapter.**
For example, if I have a new **DummyResource** here that does not have the `.birthPlace` attribute like object **Student**
![image](https://user-images.githubusercontent.com/54165403/201500633-e1bd188b-d275-496c-8

[2022-11-13 01:33] hsluoyz commented on #311
@TraMiu plz create a new issue for a new question

[2022-11-13 02:57] TraMiu opened #315 "ABAC for multiple Object Types"
I am working on the case where I have **multiple object types** and I **stored all of the policies for those object in the same adapter.**
For example, if I have a new **DummyResource** here that does not have the `.birthPlace` attribute like object **Student** (mentioned in #311)
![image](https://user-images.githubusercontent.com/54165403/201500633-e1bd188b-d275-496c-8d6b-8db14c4c16dc.png)
When I

[2022-11-13 04:27] #311 closed

[2022-11-13 04:27] hsluoyz commented on #315
@OutOfEastGate

[2022-11-13 04:29] imp2002 commented on #315
The matcher can't skip rule, `&&` in `[matchers]` is not short-circuit operator. Different enforcers for different object types is a good way.

[2022-11-13 06:02] yu-hailong opened #316 "while I try to remove group from casbin, only the data in memory is deleted, it still exist in mysql"

[2022-11-13 06:06] yu-hailong commented on #316
1. create policy , it is normal : I can find it in memory and mysql
2. I try to remove them using
   enforcer.removeFilteredNamedPolicy(pType,0,e);
   enforcer.removeGroupingPolicy(id, parentId);
remove p and g policy, but I found the data in memory is removed, but the data in mysql is still there

3. version info:

        <dependency>
            <groupId>org.casbin</groupId>
            <artifa

[2022-11-13 06:18] hsluoyz commented on #316
@imp2002 @OutOfEastGate

[2022-11-13 06:59] imp2002 commented on #316
It's has been fixed in https://github.com/jcasbin/jdbc-adapter/pull/50. Try `jdbc-adapter` lastest version.

[2022-11-13 07:51] OutOfEastGate commented on #315
If the parameter you pass in does not have the field 'birthPlace'', the eval you defined will report an error in this case. You can refer to this link to define a p2 strategy to adapt to situations without 'birthPlace'.  [policy-definition](https://casbin.org/docs/en/syntax-for-models#policy-definition)

[2022-11-13 07:52] OutOfEastGate commented on #315
If the parameter you pass in does not have the field 'birthPlace'', the eval you defined will report an error in this case. You can refer to this link to define a p2 strategy to adapt to situations without 'birthPlace'. [policy-definition](https://casbin.org/docs/en/syntax-for-models#policy-definition)

[2022-11-13 08:22] #316 closed

[2022-11-15 03:53] TraMiu commented on #315
Oke, I got it. I will try it out.

[2022-11-15 04:04] #315 closed

[2022-11-17 16:58] damienmiheev commented on #309
@imp2002 just want you to know we stoped getting this problem after downgrading to `1.29.1`.
So the issue is in the version above.

[2022-11-21 03:06] hsluoyz commented on #309
@imp2002

[2022-11-21 12:14] imp2002 commented on #309
Can you roughly show some code to reproduce it? I can't reproduce this problem with the previous multi-threaded test code.

And What does it mean to return `403`? Doesn't enforce only return `true` or `false`?

[2022-11-21 13:00] damienmiheev commented on #309
That's the problem. We don't have scenario to reproduce it. The issue is happening randomly.

Sorry for confusing with `403`. It's because we use spring permission evaluator with enforcer inside. And it means `enforcer.enforce` returns `false` where `true` is expected.

To fix it we just re-deploy the app. So basically `enforcer` load correct policies from db by `loadPolicy`.
So basically the data

[2022-11-30 19:54] siarhei-belavus opened #319 "Support Double and Long types as matcher result"
Guys, do you have plans to support double and long types here?

[code]

Float and Int make no sence because aviator script doesn't support those types at all.
Excerpts from their docs:
1.
![image](https://user-images.githubusercontent.com/8112726/204894475-da395955-058b-49c5-b81c-9a2faecf85d7.png)
2.
![image](https://user-images.githubusercontent.com/8112726/204894562-84564041-6fdb-4657-90b6-58c69